@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');


.comprar {
    width: 8rem;
    height: 2rem;
    background-color: #4EC16E;
    border-radius: 1rem;
    cursor: pointer;
    z-index: 2;
    box-shadow: .25rem .25rem 1rem black;
}

.comprar a {
    color: white;
    font-weight: bold;
}

.comprar:hover {
    transform: scale(1.1);
    transition-property: all;
    transition-duration: 0.2s;
}

#calcular {
    font-weight: bold;
    height: 2rem;
    background-color: #4EC16E;
    border-radius: 5px;
    cursor: pointer;
}

#calcular a {
    width: 100%;
}

#calcular :hover {
    color: white;
}

#finalizarCompra {
    font-weight: bold;
    width: 100%;
    height: 2rem;
    background-color: #4EC16E;
    border-radius: 1rem;
    cursor: pointer;
    box-shadow: .25rem .25rem 1rem black;
}

#finalizarCompra a{
    width: 100%;
}

.finalizarCompra :hover {
    transform: scale(1.05);
    transition-property: all;
    transition-duration: 0.2s;
    color: white;
    }
