/* Carrinho Flutuante */

body {
    height: 100%;
    margin: 0;
}

.headerFlutuante {
    background-color: #386C5F;
    padding: 8px;
    display: flex;
    width: 100%;
    top: 0;
    justify-content: space-between;

}

.corpo {
    padding-top: 85px;
}

.carrinhoFlutuante {
    background-color: white;
    list-style: none;
    text-align: center;
    position: fixed;
    right: 0;
    top: 50px;
    transition: all 0.5s;
    z-index: 99;
    font-size: 16px;
    height: 100vh;
}

.produto {
    background-color: aqua;
}

.imagemProduto {
    margin: .5rem;
    border-radius: .5rem;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 50px;
}

#produtoTitulo {
    text-align: left;
    padding-bottom: 1rem;
    font-size: .7rem;
}

.informationProdutoValue {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
}

.informationProdutoValue a {
    text-decoration: none;
    color: black;
}

.quantidadeValue {
    text-align: center;
    width: 2rem;
}

#preco {
    font-size: 1rem;
    font-weight: 600;
    color: #386C5F;
}

.excluir {
    max-width: 2rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    cursor: pointer;
}

.continuar {
    top: auto;
    position: fixed;
    width: 18rem;
}