@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* body {
    height: auto;
}

.containerProduto {
    padding-top: 65px;
}

.cabecalho {
    display: none;
}

.produto {
    margin: .5rem;
    display: flex;
    width: auto;
    justify-content: flex-start;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.imagemProduto {
    margin: .5rem;
    border-radius: .5rem;
    display: flex;
    width: 4rem;
}

#produtoTitulo {
    padding-bottom: 1rem;
}

.informationProduto {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.informationProdutoValue {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    gap: 1rem;
}

.quantidadeValue {
    text-align: center;
    width: 2rem;
}

.excluir {
    max-width: 2rem;
    width: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    cursor: pointer;
}

.containerEntrega {
    padding: .5rem;
    margin: .5rem;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.containerEntrega div {
    display: flex;
}

.containerCheckout {
    margin: .5rem;
    padding: .5rem;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.desconto {
    padding: 1rem 0;
}

.desconto div {
    display: flex;
}

table {
    line-height: 1.5rem;
    width: 100%;
    border-collapse: collapse;


}

tbody {
    height: 10px;
    font-size: .8rem;
    justify-content: right;
    border-bottom: 1px solid;
}


.monetary {
    text-align: right;
}

#desconto,
#entrega {
    color: #4EC16E;
}

tfoot {
    font-weight: bolder;
}

#calcular {
    width: 35vw;
}

.containerEntrega input,
.containerCheckout input {
    font-weight: 600;
    padding-left: 1rem;
    width: 65vw;
    border-radius: 5px;
}