@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* body {
    height: auto;
}

.cabecalho {
    display: none;
    position: absolute;
    padding-top: 80px;
    height: 50px;
}

.entrega {
    padding: 0 1rem;
    padding-top: 80px;
}

.entrega svg {
    align-items: center;
    justify-content: flex-start;
    width: 20vw;
    color: #4EC16E;
}

.entrega h5 {
    border: .75px solid rgb(102, 102, 102);
    padding: 0 .5rem;
    border-radius: 5px;
}

.enderecoSalvo {
    margin: .5rem;
    align-items: center;
    display: flex;
    background-color: #F6F9FF;
    border-radius: 1rem;
    cursor: pointer;
}

.addAdress {
    margin: 0 2rem;
    font-size: .6rem;
    text-decoration: underline;
}

.enderecoInformation {
    padding: .5rem 0;
    width: 70vw;
    text-align: left;
    font-size: .7rem;
}

.enderecoNovo {
    display: none;
    background-color: #F6F9FF;
    padding: .5rem;
    width: 100%;
    max-width: 25rem;
    font-size: .7rem;
    border-radius: 1rem;

}

.enderecoNovo input {
    width: 100%;
    background-color: white;
    border: .75px solid rgb(102, 102, 102);
    border-radius: 5px;
}

.columnAdress1 {
    gap: 1rem;
    display: flex;
    justify-content: space-around;
}

.columnAdress1 input {
    padding-left: .5rem;
    justify-content: space-around;
}

.adicionar {
    padding: .5rem;
    width: 100%;
    display: flex;
    justify-content: center;
}

#adicionar {
    font-weight: bold;
    width: 50%;
    height: 2rem;
    background-color: #4EC16E;
    border-radius: 1rem;
    cursor: pointer;
}


.opcao {
    margin: 01rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: .8rem;

}

.opcoesFrete {
    margin: .5rem;
    background-color: #F6F9FF;
    border-radius: 1rem;
}


.opcao svg {
    width: 2rem;
}

.opcaoInformation {
    padding: 0 2rem;
    width: 100%;

}

.tempoEntrega {
    font-size: .6rem;
}

.opcaoPrice {
    text-align: center;
    width: 100%;
}