*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;

}

section{
    background-color: #338866;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


}

.bg-modal{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    z-index: 2;
    top: 0%;
    display: block;
    transition: 350ms;
    
}

div .categoriaInput{
    width: 100%;
    height: 100%;
    background-color: #9CD9C2;
    
}
.baixoBox-01{
    display: flex;
    flex-direction: column;

}

.modal{
    width: 100%;
    height: 100%;
    max-width: 60rem;
    max-height: 42rem;
    background-color: #9CD9C2;
    border:1px solid #000;
    border-radius: 5px;
    margin: 50px auto 0 auto; 

    
}
.modal span {
    float: right;
    font-size: 50px;
    color: #000;
    cursor: pointer;
}

.modal span:hover{
    color: #990000;
    transition: 350ms;
}

.box-01{
    background-color: #386C5F;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    max-width: 56rem;
    max-height: 30rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 2rem;
}

.cancelar{
    background-color: red;
    color: white;
    border-style: none;
    border-width: 0.2rem;
    border-radius: 2rem;
    width: 8rem;
    height: 2rem;
    opacity: 0.7;
    margin-right: 2rem;
    margin-left: 33rem;
    font-size: 1.3rem;
    opacity: 0.6;

}
.confirmar{
    background-color: #386C5F;
    color: white;
    border-style: none;
    border-width: 0.2rem;
    border-radius: 2rem;
    width: 8rem;
    height: 2rem;
    font-size: 1.3rem;
    opacity: 0.6;

}

.categoria{
    width: 100%;
    background-color: #9CD9C2;
    
}
.titulo{
    display: flex;
    display: inline;

}
.editarCategoria{
    margin-left: 2rem;
    margin-top: 1rem;
}

.pesquisar{
    display: flex;
    margin-top: 1rem ;
    margin-bottom: 1rem;
    margin-left: 1rem;
    height: 2rem;
    width: 21rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #CACACA;
}
.botaoFechar{
    justify-content: end;
    margin-right: 14px;
    margin-bottom: -4px;
}

.selecao01,
.selecao02
{
    display: inline-flex;
    margin-left: 3rem;
    margin-right: -3rem;
    color: aliceblue;
}
.button-modal{
    display: flex;
    left: 2rem;
    margin-left: 2rem;
    justify-content: space-evenly;
    border-radius: 2rem;
}

.bloco{
    background-color: #CACACA;
    width: 20rem;
    height: 26rem;
    margin: 2rem;
    border-radius: 2rem;
    text-align: justify;
    text-decoration: none;
    list-style: none;
    line-height: 2rem;
}
.blocoli{
    margin-left: 2rem;
    color: azure;

}



