section .bg-modal{
    background-color: #338866;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;


}

.bg-modal{
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    position: fixed;
    z-index: 2;
    top: 0%;
    display: block;
    transition: 350ms;
    
}

div .categoriaInput{
    width: 100%;
    height: 100%;
    background-color: #9CD9C2;
    
}
.baixoBox-01{
    display: flex;
    flex-direction: column;

}

.modal{
    width: 100%;
    height: 100%;
    max-width: 34rem;
    max-height: 47rem;
    background-color: #338866;
    border-radius: 10px;
    margin: 50px auto 0 auto;
    

    
}
.modal span {
    float: revert;
    font-size: 50px;
}
span.close {
    margin-left: 32rem;
}

.modal span:hover{
    color: #990000;
    transition: 350ms;
}

.botaoFechar{
    justify-content: end;
    margin-right: 14px;
    margin-bottom: -4px;
}

/* --------------------config modal ------------------ */

@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;

}

.botaoFechar {
    justify-content: center;
    margin-right: 14px;
    margin-bottom: 4px;
    display: flex;rem;
}
.categoria-modal{
    margin-top: 12rem;
    display: flex;
    justify-content: center;

}
.xFechar{
    display: contents;
}

.cadastro {
    display: flex;
    background-color: #9CD9C2;
    border-radius: 5rem;
    width: 28rem;
    height: 45rem;
    margin-top: 1rem;
    font-weight: bolder;
    align-items: center;
    flex-direction: column;
}


ul {
    display: flex;
    flex-direction: column;

}

.cadastro2 {
    display: flex;
    font-weight: bolder;
    font-size: 23px;
}

.email {
    display: flex;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: bolder;

}

#span1 {
    display: flex;
    font-size: 1rem;
    height: 4rem;
    width: 25rem;
    border-radius: 2rem;
    border: none;
    background: url(/projeto-integrador/avalon/img/cartinha.png);
    background-repeat: no-repeat;
    background-size: 1.8em;
    padding-left: 4.5rem;
    background-position: 2rem;
}




.exemplo {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    width: 25rem;
    height: 4rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(98, 96, 96);

}

div .exemplo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.senha {
    display: flex;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: bolder;


}

.confirmesenha {
    display: flex;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: bolder;
}

.telefone {
    display: flex;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: bolder;
}

#span2 {
    letter-spacing: 2px;
    display: flex;
    font-size: 1rem;
    height: 4rem;
    width: 25rem;
    max-width: 100%;
    border-radius: 2rem;
    border: none;
    background: url(/projeto-integrador/avalon/img/cadeado.png);
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 4rem;
    background-position: 2rem;
}

#span3 {
    letter-spacing: 2px;
    display: flex;
    font-size: 1rem;
    height: 4rem;
    width: 25rem;
    max-width: 100%;
    border-radius: 2rem;
    border: none;
    background: url(/projeto-integrador/avalon/img/telefone.png);
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 4rem;
    background-position: 2rem;
}

.senha2 {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    width: 25rem;
    height: 4rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(98, 96, 96);
}

.confirmesenha2 {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    width: 25rem;
    height: 4rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(98, 96, 96);
}

.telefone2 {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    width: 25rem;
    height: 4rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(98, 96, 96);
}

.cadastrar {
    display: flex;
    margin: 1rem;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(17, 202, 125);
    border-radius: 3rem;
    height: 4rem;
    align-items: center;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bolder;

}


@media (min-width: 1200px) {

    main
     {
        max-width: 100%;
        margin: 0 auto;
    }

}

@media (min-width: 768px) {
        main {
            max-width: 100%;
            margin: 0 auto;
        }

}