@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}



.login {
    display: flex;
    background-color: #9CD9C2;
    border-radius: 5%;
    width: 32rem;
    height: 45rem;
    padding: 1%;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    font-weight: bolder;


}

ul {
    display: flex;
    flex-direction: column;



}

.login2 {
    display: flex;
    font-weight: bolder;
    font-size: 23px;
    padding-top: .5rem;


}

.email {
    display: flex;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: bolder;

}

#span1 {
    display: flex;
    font-size: 1rem;
    height: 4rem;
    width: 25rem;
    border-radius: 2rem;
    border: none;
    background: url(/projeto-integrador/avalon/img/cartinha.png);
    background-repeat: no-repeat;
    background-size: 1.8em;
    padding-left: 4.5rem;
    background-position: 2rem;
}




.exemplo {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    width: 25rem;
    height: 4rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    text-decoration: underline;
    color: rgb(98, 96, 96);

}

div .exemplo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.senha {
    display: flex;
    font-weight: bold;
    margin-left: 2rem;
    font-size: 20px;
    font-weight: bolder;


}

#span2 {
    letter-spacing: 2px;
    display: flex;
    font-size: 1rem;
    height: 4rem;
    width: 25rem;
    max-width: 100%;
    border-radius: 2rem;
    border: none;
    background: url(/projeto-integrador/avalon/img/cadeado.png);
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 4rem;
    background-position: 2rem;
}

.senha2 {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    width: 25rem;
    height: 4rem;
    margin: 1rem;
    justify-content: center;
    align-items: center;
    color: rgb(98, 96, 96);


}

.entrar {
    display: flex;
    margin: 1rem;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(17, 202, 125);
    border-radius: 3rem;
    height: 4rem;
    align-items: center;
    font-size: 20px;
    letter-spacing: 4px;
    font-weight: bolder;

}

.esqueci {
    display: flex;
    text-decoration: underline;
    margin-left: 3rem;
    margin-bottom: .5rem;
    font-size: 14px;
    color: rgb(98, 96, 96);
    justify-content: flex-start;
}

.cadastro {
    display: flex;
    text-decoration: underline;
    margin-left: 3rem;
    margin-bottom: rem;
    font-size: 14px;
    color: rgb(98, 96, 96);
    justify-content: flex-start;
}

.redes {
    display: flex;
    justify-content: center;
    font-weight: bolder;
    padding-top: 2rem;
    padding-bottom: .8rem;

}

.google {
    display: flex;
    margin: .5rem;
    margin-bottom: 1.5rem;
    font-weight: bolder;
    background-color: rgb(253, 254, 254);
    border-radius: 3rem;
    height: 3.5rem;
    width: 25rem;
    align-items: center;
    justify-content: center;
    font-size: 13px;

}

.google2 {
    display: flex;
    font-weight: bolder;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 1rem;
}

#google {
    width: 1.5rem;
    height: 1.5rem;   
}

.facebook {
    display: flex;
    margin: .5rem;
    font-weight: bolder;
    background-color: rgb(253, 254, 254);
    border-radius: 3rem;
    height: 3.5rem;
    width: 25rem;
    align-items: center;
    justify-content: center;
    font-size: 13px;
}

.facebook2 {
    display: flex;
    font-weight: bolder;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 1rem;
}

#facebook {
    width: 1.5rem;
    height: 1.5rem;   
}

@media (min-width: 1200px) {

    main
     {
        max-width: 100%;
        margin: 0 auto;
    }

}

@media (min-width: 768px) {
        main {
            max-width: 100%;
            margin: 0 auto;
        }

}

