@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;

}

#header2 {
    display: flex;
    background-color: black;
    align-items: flex-start;
}


main {
    display: flex;
    justify-content: center;
}

form {
    display: flex;
    width: 100%;
    justify-content: center;
}

.cadastro-ul {
    width: 90%;
    align-items: center;
}

.cadastro {
    display: flex;
    background-color: #9CD9C2;
    border-radius: 4%;
    width: 80%;
    height: 37rem;
    padding: 1%;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    font-weight: bolder;
    min-width: 16rem;
    max-width: 768px;


}

ul {
    display: flex;
    flex-direction: column;
    color: ;

}

.cadastro2 {
    display: flex;
    font-weight: bolder;
    font-size: 20px;
    padding-top: .5rem;
}

.email {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    font-weight: bolder;
    justify-content: center;

}

#span1 {
    display: flex;
    height: 3.5rem;
    border-radius: 2rem;
    border: none;
    background: url(../img/cartinha.png);
    background-repeat: no-repeat;
    background-size: 1.8em;
    padding-left: 4.5rem;
    background-position: 2rem;
}

.exemplo {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    width: 17rem;
    height: 3.5rem;
    margin: .5rem;
    text-decoration: underline;
    color: rgb(98, 96, 96);
    width: 100%;
    

}

div .exemplo {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-items: center;

}

.senha {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    font-weight: bolder;
    justify-content: center;
    background: url(../img/cadeado.png);
}
.password {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    font-weight: bolder;
    justify-content: center;
    background: url(../img/cadeado.png);
}


.telefone {
    display: flex;
    font-weight: bold;
    font-size: 15px;
    font-weight: bolder;
    justify-content: center;
}


#span3 {
    letter-spacing: 2px;
    display: flex;
    height: 3.5rem;
    max-width: 100%;
    border-radius: 2rem;
    border: none;
    background: url(../img/telefone.png);
    background-repeat: no-repeat;
    background-size: 1.5em;
    padding-left: 4rem;
    background-position: 2rem;
}

.senha2 {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    height: 3.5rem;
    margin: .5rem;
    text-decoration: underline;
    color: rgb(98, 96, 96);
    width: 100%;
    
}



.form-auth input {
    display: flex;
    background-color: white;
    border-radius: 3rem;
    height: 3.5rem;
    margin: .5rem;
    text-align: center;
    text-decoration: underline;
    color: rgb(98, 96, 96);
    width: 100%;
    
}

/* ----------------------------Erros ------------------- */

    .error{
        width: 100%;
        max-width: 46rem;
        margin-bottom: 10px;
        margin-left: 5rem;
        font-size: 12px;
        border-radius: 2rem;
        color: red;
        margin-top: 1.5rem;
    }
    
    .no-erros{
        display: none;
    }
      
@media (min-width: 1200px) {

   

}
    /* ----------------------------VALIDACAO ------------------- */

.form-auth {
    display: flex;
    background-color: #9CD9C2;
    border-radius: 4%;
    width: 70%;
    height: 32rem;
    padding: 1%;
    margin: 1rem;
    flex-direction: column;
    align-items: center;
    margin-right: 15px;
    font-weight: bolder;
    min-width: 18rem;
    max-width: 768px;
}


.form-auth button{
    display: flex;
    margin: 1rem;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(17, 202, 125);
    border-radius: 3rem;
    height: 3.5rem;
    align-items: center;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: bolder;
    width: 100%;
}

.form-auth.card {
    padding: 20px;
}
.register.card{
    padding: 20px;
}

.form-comments button{
    display: flex;
    margin: 1rem;
    justify-content: center;
    font-weight: bold;
    background-color: rgb(17, 202, 125);
    border-radius: 3rem;
    height: 3.5rem;
    align-items: center;
    font-size: 15px;
    letter-spacing: 4px;
    font-weight: bolder;
    width: 100%;
}

