@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

*{
    margin: 0;
}
body{
    font-size: arial;
}

.listamenu ul li a {
    align-items: center;
    font-size:12px;
    flex-direction: column;
    display:flex;
    color: aliceblue;
    
}

main{
    display: flex;
}
nav li {
    list-style: none;
    margin: 0;
    padding: 0;
    margin-bottom: 0.5rem;
    width: 100%;
}
nav ul {
    display: flex;
}
.pedidos{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.informacaodospedidos{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.containermenu {
    margin: 9rem;
    text-align: center;
    background-color: #9CD9C2;;
    border-radius: 2rem;
    width: 250%;
    height: 70%;
    display:flex;
    flex-direction: column;
    color: aliceblue;
}
.box-usuario { 
    background-color:white;;    
}
.fotousuario >img{
    width: 70%;
    align-items: center;
    display: flex;
    border-radius: 300%;
}
ul li {
    align-items: center;
}
button {
    margin: 1rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 60%;
    background-color: aliceblue;
    border-radius: 12rem;
}
.fotousuario{
    margin: 10rem;
    background-color: #9CD9C2;;
    border-radius: 2rem;
    width: 50%;
    height: 80%;
    flex-direction: column;
    display:flex;
    gap: 1rem;
    align-items: center;
   
}

