@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');




main{
    display: flex;
}

nav li {
    width: 100%;
}
nav ul {
    display: flex;
}

.informacaodospedidos {
    margin: 2rem;
    background-color: rgb(241, 239, 239);
    border-radius: 2rem;
    width: 90%;
    height: 13%;
    display:flex;
    align-items: center;
  

}
.containermenu {
    margin: 2rem;
    margin-top: 12rem;
    margin-left: -29rem;
    flex-direction: column;
    background-color: #9CD9C2;
    border-radius: 2rem;
    width:90%;
    display:flex;
    color: black;
}
.listapagos{
margin: 6rem;
margin-left: 18rem;
    background-color: #9CD9C2;
    border-radius: 2rem;
    width:80%;
    height: 10%;
    display:flex;
    color: black;
    align-items: center;
}
.listamenu li a {
    align-items: center;
    text-decoration: none;
    padding: .8rem 1rem;
    color: black;
    font-size: clamp(.6rem, 100%, .8rem);
    font-family: poppins;
  font-weight: 700;
    white-space: nowrap;
}
.numeropedido li a {
    align-items: center;
    text-decoration: none;
    padding: .8rem 1rem;
    color: #05a065;
    font-size: clamp(.6rem, 100%, .8rem);
    white-space: nowrap;

}
.fotousuario >img{
    width: 90%;
    display: flex;
    border-radius: 10rem;
    align-items: center;
}
.meusdados {
    margin: 1rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 60%;
    background-color: aliceblue;
    border-radius: 12rem;
}
.minhaconta {
    margin: 1rem;
    margin-top: 6rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: black;
    width: 60%;
    background-color: aliceblue;
    border-radius: 12rem;
}
.fotousuario{
    margin: 6rem;
    background-color: #9CD9C2;;
    border-radius: 2rem;
    width: 80%;
    height: 85%;
    flex-direction: column;
    display:flex;
    gap: 1rem;
   
   
}
.informacaodospedidos ul li a{
    color: #05a065;
}
.listapagos li a {
    padding: .2rem 1rem;
    color: black;
    font-size: clamp(.5rem, 90%, .7rem);
    font-family: poppins;
  font-weight: 700;
  text-align: center;
    
}
