* body {
    height: auto;
}


main {
    padding-top: 50px;
    max-width: 1200px;
    margin: auto;

}

#search {
    display: none;
}

.cadastroProutos {
    display: flex;
    max-width: 1200px;
    background-color: #338866;
    opacity: 0.8;
    border-radius: 2rem;
    align-items: flex-end;
    justify-content: space-between;

}

.cadastroProutos img {
    width: 5rem;
    margin: 2rem;
}

.MinhaConta {
    display: flex;
    margin-bottom: 2.5rem;
    margin-right: 4rem;
    font-size: 2rem;
    text-decoration: none;
    color: azure;
    text-align: center;
}

section .box-sumario {
    display: flex;
    flex-direction: column;


}

.papelPao {
    max-width: 1200px;
    top: 2rem;
    margin-left: 1rem;
}

.box-sumario nav ul,
.box-sumario nav li {
    max-width: 1200px;
    margin-bottom: 0.5rem;
    display: -webkit-box;
    margin-inline-start: auto;
    flex-direction: row;
    /* justify-content: center; */
    padding: 3px;
}

.container {
    display: flex;
    width: 100%;
    max-width: 1200px;
    display: flex;
    background-color: #FFFFFF;
    border-radius: 2rem;

}

legend {
    margin-top: 2rem;
}

.box-menu {
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    opacity: 0.8;
    border-radius: 2rem;
    width: 100%;
    opacity: 0.8;
}

.box-menu ul li {
    color: #386C5F;
    list-style: none;
    width: 100%;
}

.box-menu ul {
    display: flex;
    flex-direction: column;
    gap: rem;
    padding: 1rem;
}

.box-menu ul li a {
    color: #386C5F;
    text-decoration: none;
    display: inline;
    font-size: 1rem;
    list-style: none;


}

.box-cadastro {
    width: 100%;
    margin: 2rem;
    background-color: #9CD9C2;
    border-radius: 2rem;
    max-width: 1200px;

    gap: 2rem;
    color: #9CD9C2;
    margin-top: 45PX;
    padding: 0 1rem;
    justify-content: center;

}

.box-cadastro h3 {
    text-align: center;
    color: black;


}

.form-auth {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
}



.double .alteraInp {
    color: red;
    text-align: center;
    height: 8rem;
    width: 8rem;
    margin: center;
    max-width: 8rem;
    justify-content: center;

}

.single {
    display: flex;
    max-width: 1500;
    width: 100%;
    flex-direction: column;
    align-items: center;

}

.double {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    width: 100%;

}

.double>div {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    align-items: center;
}

.autor {
    display: flex;
    justify-content: space-evenly;
}

.searchimg {
    max-width: 1200px;
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    border-radius: 2rem;
}

.preco {

    display: flex;
    height: 3rem;
    max-width: 65rem;
    width: 100%;
    max-height: 2rem;
    border-radius: 2rem;
    align-items: center;

}

.box-cadastro form div label {
    display: flex;
    font-size: 1rem;
    color: #386C5F;
    width: 100%;
}

div form input {
    height: 2rem;
    width: 100%;
    max-width: 17rem;
    border-radius: 2rem;
    background-color: white;
    opacity: 0.5;
    font-size: .8rem;
    padding-left: 1rem;
    border: none;
}

.categoriaInput {
    display: flex;
    align-items: flex-end;
    height: 7rem;
    width: 20rem;
    border-radius: 2rem;
    margin-right: auto;
    background-color: #FFFFFF;
}

div .single input {
    height: 12rem;
    width: 100%;
    max-width: 44rem;

}

.button input {
    display: flex;
    text-align: center;
    font-size: 1.5rem;
    justify-content: space-evenly;
    width: 11rem;
}

.configbutton {
    background-color: #9CD9C2;
    margin-bottom: 1rem;
    display: flex;
    padding: 2rem;
    border-radius: 2rem;
    align-items: center;
    justify-content: space-around
}

.cancelar {
    background-color: red;
    color: white;
    border-color: black;
    border-width: 0.2rem;
    opacity: 0.6;

}

.publicar {
    background-color: green;
    color: white;
    border-color: black;
    border-width: 0.2rem;
    opacity: 0.6;

}



/* ----------------------------Erros ------------------- */
.errors {
    width: 100%;
    max-width: 46rem;
    border: solid 2px gre;
    margin-bottom: 10px;
    margin-left: 5rem;
    border-radius: 2rem;
    margin-top: 1.5rem;
}

.no-errors {
    display: none;
}

.linhaerrors {
    color: red;
    margin-left: 2rem;
    text-align-last: start;
    font-size: 19px;
    margin-top: 12px;
    font-weight: bolder;

}

.icons {
    display: none;
}

/* -----------------------Modal ----------------- */

section .bg-modal {
    background-color: #338866;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200;
    height: 100%;
}

.bg-modal {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.75);
    position: fixed;
    z-index: 2;
    top: -150%;
    display: block;
    transition: 350ms;
}

div .categoriaInput {
    width: 100%;
    height: 100%;
    background-color: #9CD9C2;
}

.baixoBox-01 {
    display: flex;
    flex-direction: column;
}

.modal {
    width: 100%;
    height: 100%;
    max-width: 60rem;
    max-height: 42rem;
    background-color: #9CD9C2;
    border: 1px solid #000;
    border-radius: 5px;
    margin: 50px auto 0 auto;
    border-radius: 1rem
}

.modal span {
    float: right;
    font-size: 50px;
    color: #000;
    cursor: pointer;
}

.modal span:hover {
    color: #990000;
    transition: 350ms;
}

.box-01 {
    background-color: #386C5F;
    width: 100%;
    height: 100%;
    margin-left: 2rem;
    max-width: 56rem;
    max-height: 30rem;
    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: row;
    border-radius: 2rem;
    opacity: 0.8;
}

.cancelarModal {
    background-color: red;
    color: white;
    border-style: none;
    border-width: 0.2rem;
    border-radius: 2rem;
    width: 8rem;
    height: 2rem;
    opacity: 0.7;
    margin-right: 2rem;
    margin-left: 33rem;
    font-size: 1.3rem;
    opacity: 0.6;
}

.confirmar {
    background-color: #386C5F;
    color: white;
    border-style: none;
    border-width: 0.2rem;
    border-radius: 2rem;
    width: 8rem;
    height: 2rem;
    font-size: 1.3rem;
    opacity: 0.6;

}

.categoria {
    width: 100%;
    background-color: #9CD9C2;

}

.titulo {
    display: flex;
    display: inline;

}

.editarCategoria {
    margin-left: 2rem;
    margin-top: 1rem;
    color: #386C5F;
}

.pesquisar {
    display: flex;
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 1rem;
    height: 2rem;
    width: 21rem;
    border-radius: 2rem;
    text-align: center;
    background-color: #FFFFFF;
    opacity: 0.8;
}

.botaoFechar {
    justify-content: end;
    margin-right: 14px;
    margin-bottom: -4px;
}

.selecao01,
.selecao02 {
    display: inline-flex;
    margin-left: 3rem;
    margin-right: -3rem;
    color: black;
}

.button-modal {
    display: flex;
    left: 2rem;
    margin-left: 2rem;
    justify-content: space-evenly;
    border-radius: 2rem;
}

.bloco {
    background-color: #FFFFFF;
    opacity: 0.8;
    width: 15rem;
    height: 26rem;
    margin: 2rem;
    border-radius: 2rem;
    list-style: none;
    line-height: 2rem;
}

.bloco li {
    margin-left: 2rem;
    color: black;

}

.addItem {
    font-size: 30px;
    border-radius: 1rem;
    height: 42px;
    width: 39px;
    margin-left: -20px;
    background-color: #4EC16E;
    opacity: 0.8;

}

/* -----------------------Validacao ----------------- */

.error {
    text-align: center;
    width: 100%;
    max-width: 46rem;
    font-size: 12px;
    color: red;

}

.no-errors {
    display: none;
}






@media (max-width:850px) {
    .double {
        flex-direction: column;
    }

    .double>div {
        align-items: center;

    }

    .box-cadastro form div label {
        align-self: flex-start;
    }

    .configbutton {
        flex-direction: column-reverse;
        gap: 1rem;
        align-items: center;


    }

    .papelPao {
        display: none
    }

    @media (max-width:880px) {

        .box-cadastro {
            display: flex;
            justify-content: center;
        }
    }
}

@media (min-width: 1200px) {
    #chaveHamburguer {
        display: none;
    }
}