/* Carrinho Flutuante */

body {
    height: 100%;
    margin: 0;
}


.headerFlutuante {
    background-color: #386C5F;
    color: #F6F9FF;
    padding: 8px;
    display: flex;
    width: 100%;
    align-items: center;
    top: 0;
    justify-content: space-around;
}

.carrinhoFlutuante {
    background: white;
    height: 100%;
    width: 0;
    margin: 0;
    list-style: none;
    text-align: center;
    position: fixed;
    right: 0%;
    top: 75px;
    transition: all 0.5s;
    z-index: 1000;
    font-size: 16px
}


.cart-product-image {
    margin: .5rem;
    border-radius: .5rem;

    width: 4rem;
}

.containerProduto {
    width: 24rem;
    display: inline-grid;
}

input.product-qtd-input {
    width: 2rem;
    text-align: center;
}

button.remove-livro-button {
    color: red;
    font-weight: 500;
    background: none;
    padding: .5rem;
}

.fechar {
    font-size: 25px;
    align-items: center;
    color: red;
    text-decoration: none;

}

.produtos-carrinho {
    width: 24rem;
    display: flex;
    flex-wrap: wrap;
}

.produto-carrinho {
    margin: .5rem;
    justify-content: left;
    display: flex;
    width: 24rem;
    align-items: center;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

#LivroTitulo {
    padding-bottom: 1rem;
    text-align: center;
    width: 100%;
}

.informationLivro {
    justify-content: flex-start;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.informationLivroValue {
    width: 100%;
    display: flex;
    align-items: center;
}