@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Ropa+Sans&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

* body {
    width: 100% auto;
    height: auto;
}

main {
    padding-top: 50px;
}

.navegacao {
    display: none;
}

/* SEÇÃO REFERENTE ÀS INFORMAÇÕES DO PRODUTO */
.cabecalho {
    display: none;
}

.produto {
    margin: .5rem;
    display: flex;
    width: auto;
    justify-content: flex-start;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.imagemProduto {
    margin: .5rem;
    border-radius: .5rem;
    display: flex;
    width: 4rem;
}

#produtoTitulo {
    padding-bottom: 1rem;
}

.informationProduto {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.informationProdutoValue {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
}

.informationProdutoValue a {
    text-decoration: none;
    color: black;
}

#quantidadeValue {
    text-align: center;
    width: 2rem;
}

#preco {
    font-weight: 600;
    color: #386C5F;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.excluir {
    display: block;
    color: red;
    font-weight: bold;
    width: 15px;
    background-color: #F6F9FF;
    border: none;
}

/* SEÇÃO REFERENTE À ENTREGA */

.containerEntrega {
    padding: .5rem;
    margin: .5rem;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.containerEntrega div {
    display: flex;
}

/* SEÇÃO REFERENTE À ENTREGA */

.containerCheckout {
    margin: .5rem;
    padding: .5rem;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.desconto {
    padding: 1rem 0;
}

.desconto div {
    display: flex;
}

table {
    line-height: 1.5rem;
    width: 100%;
    border-collapse: collapse;
}

tbody {
    height: 10px;
    font-size: .8rem;
    justify-content: right;
    border-bottom: 1px solid;
}


.monetary {
    text-align: right;
}

#desconto,
#entrega {
    color: #4EC16E;
}

tfoot {
    font-weight: bold;
}

#calcular {
    width: 35%;
}

.containerEntrega input,
.containerCheckout input {
    font-weight: 400;
    padding-left: 1rem;
    width: 65%;
    border-radius: 5px;
}

/* BOTÕES */

.aumentarQtd,
.diminuirQtd {
    border: none;
    background-color: #F6F9FF;
    cursor: pointer;
}

.next-page {
    width: 100%;
}

#carrinhoFlutuante {
    display: none !important;
}
@media (min-width: 768px) {
    main {
        padding-top: 60px;
    }

    .cabecalho {
        font-size: .8rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    #header1 {
        width: 100%;
        padding-left: 15vw;
    }

    #header2 {
        padding: 0 1rem;
    }

    #header3 {
        padding-left: 3rem;
        padding-right: 19.5vw;
    }


    .informationProduto {
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .nomeProduto {
        width: 30vw;
        max-width: 360px;
    }

    .informationProdutoValue {
        justify-content: right;
        gap: 5rem;
    }
}

@media (min-width: 1200px) {

    main {
        height: 100vh;
        justify-content: center;
        display: flex;
    }

    .containerProduto {
        width: 80%;
    }

    .containerFinalizacao {
        margin-top: 28px;
        width: 300px;
    }

    #header1 {
        padding-left: 7rem;
    }

    #header3 {
        padding-left: 3.5rem;
        padding-right: 9.5rem;
    }

}