section#carrinhoFlutuante {
    display: none;
}

header {
    position: absolute !important;
    z-index: 0 !important;
}

main {
    padding-top: 100px;
    max-width: 1200px;

}

.cart-carrinho {
    margin: 1rem;
}

.tables-carrinho {
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;

}

.carrinho-itens,
.carrinho-values {
    background-color: #f2f2f2;
    border-radius: 10px;
    width: 100%;
}

.carrinho-values {
    width: 100%;
    padding: 1rem;
}

.formFrete {
    gap: 10px;
    display: flex;
}

.resultadoFrete {

    padding: 1rem 0;
    width: 100%;
}

.formFrete input {
    width: 100%;
    padding: 5px;
    border-radius: 10px;
    width: 100%;
    border: none;
}



/* SEÇÃO REFERENTE ÀS INFORMAÇÕES DO Livro */
.cabecalho {
    display: none;
}

.Livro {
    margin: .5rem;
    display: flex;
    width: auto;
    justify-content: flex-start;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.imagemLivro {
    margin: .5rem;
    border-radius: .5rem;
    display: flex;
    width: 4rem;
}

#LivroTitulo {
    padding-bottom: 1rem;
}

.informationLivro {
    justify-content: center;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    width: 100%;
}

.informationLivroValue {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    gap: 1rem;
}

.informationLivroValue a {
    text-decoration: none;
    color: black;
}

#quantidadeValue {
    text-align: center;
    width: 2rem;
}

#preco {
    font-weight: 600;
    color: #386C5F;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.excluir {
    display: block;
    color: red;
    font-weight: bold;
    width: 15px;
    background-color: #F6F9FF;
    border: none;
}

/* SEÇÃO REFERENTE À ENTREGA */

.containerEntrega {
    padding: .5rem;
    margin: .5rem;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.containerEntrega div {
    display: flex;
}

/* SEÇÃO REFERENTE À ENTREGA */

.containerCheckout {
    margin: .5rem;
    padding: .5rem;
    background-color: #F6F9FF;
    border-radius: 1rem;
}

.desconto {
    padding: 1rem 0;
}

.desconto div {
    display: flex;
}

table {
    line-height: 1.5rem;
    width: 100%;

    border-collapse: collapse;
}

tbody {
    height: 10px;
    font-size: .8rem;
    justify-content: right;
    border-bottom: 1px solid;
}


.monetary {
    text-align: right;
}

#desconto,
#entrega {
    color: #4EC16E;
}

tfoot {
    font-weight: bold;
}

#calcular {
    width: 35%;
}

.containerEntrega input,
.containerCheckout input {
    font-weight: 400;
    padding-left: 1rem;

    border-radius: 5px;
}

/* BOTÕES */

.aumentarQtd,
.diminuirQtd {
    border: none;
    background-color: #F6F9FF;
    cursor: pointer;
}

.next-page {
    width: 100%;
}

.btnCrud {

    padding: 1rem;
    align-items: center;
    width: 100%;
    display: flex;
    font-weight: bold;
    height: 2rem;
    background-color: #4EC16E;
    border-radius: 1rem;
    cursor: pointer;
    border: none;
}

.btnCrud a {
    width: 100%;
}

.btnCrud :hover {
    color: white;

}

#fretebtn {
    width: 80px;
    align-items: center;
}


/* @media (min-width: 768px) {
    main {
        padding-top: 60px;
    }

    .cabecalho {
        font-size: .8rem;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }

    #header1 {
        width: 100%;
        padding-left: 15vw;
    }

    #header2 {
        padding: 0 1rem;
    }

    #header3 {
        padding-left: 3rem;
        padding-right: 19.5vw;
    }


    .informationLivro {
        align-items: center;
        justify-content: space-around;
        display: flex;
        flex-direction: row;
        gap: 5rem;
    }

    .nomeLivro {
        width: 30vw;
        max-width: 360px;
    }

    .informationLivroValue {
        justify-content: right;
        gap: 5rem;
    }
}
 */
@media (min-width: 768px) {

    .tables-carrinho {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
    }

    .carrinho-itens {
        width: 100%;
        max-width: 840px;
    }

    .carrinho-values {
        width: 100%;
        max-width: 360px;
    }
}