* body {
    height: auto;
}

/* SECTION 1 - BANNER + 3 CATEGORAS  */

main {
    padding-top: 50px;
}

#banner {
    height: 100%;
    width: 100%;
    display: block;
    align-items: flex-start;
    justify-content: center;
}

.big3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: .5rem;
}

.big3-icons {
    align-items: center;
    display: flex;
    position: relative;
    width: auto;
}

.big3 * a {
    font-weight: bold;
    font-size: clamp(.6rem, 2.5vw, 1.2rem);
    flex-wrap: nowrap;
    position: absolute;
    width: 100%;
    z-index: 2;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}


.big3 .big3-icons * img {
    width: 33vw;
    align-items: center;
    display: flex;
    position: relative;
    z-index: 1;
    filter: brightness(70%);

}

.big3-icons:hover {
    filter: brightness(150%);
    transform: scale(.95);
    transition-property: all;
    transition-duration: 0.1s;
}

.title {
    margin: 1rem;
}

/* SECTION 1 - DESTAQUES  */

.item {
    cursor: pointer;
}

.destaque {
    flex-direction: column;
    width: 100%;
    padding: 1rem;
    font-size: .8rem;
    color: white;
    background-color: #386C5F;
}

.grid {
    padding: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-1 {
    width: 80vw;
    filter: drop-shadow(.5rem .5rem 1rem black);
}


#grid-2,
#grid-3,
#grid-4 {
    justify-content: flex-start;
    max-width: 100%;
    padding: .5rem;
    display: none;
    width: auto;
}

/*  CARROSEIS  */

.continue-vendo,
.lancamento {
    position: relative;
    max-width: 1200px;
    width: 100%;
}

.carrousel {
    overflow-x: hidden;
    scroll-behavior: smooth;
    scrollbar-width: none;
}

.gallery {
    margin: 1rem;
    display: grid;
    gap: 1rem;
    grid-auto-flow: column;
}

.gallery li {
    display: flex;
    flex-direction: column;
    justify-items: center;
    width: 10rem;
    text-align: center;
    list-style: none;
}

.item div {
    width: 100%;
}

.item div button {
    width: 80%;
}


.item div h5 {
    height: 40px;
    width: 100%;
}

.item img {
    margin: 10px;
    max-height: 12rem;
    height: 100%;
    border-radius: 5%;
    align-items: center;
}

/* BOTAO COMPRAR */

.grid {
    position: relative;
}

#destaque-comprar {
    width: 6rem;
    height: 1.5rem;
    font-size: .8rem;
    top: 0;
    right: 15vw;
    position: absolute;
}

/* carrosel banner  */
.carrossel {
    position: relative;
    width: 100%;
    max-width: 1200px;

}

.carrossel-container {
    display: flex;
    width: 100%;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.slide {
    flex-shrink: 0;
    width: 100%;
    height: 100%;
}

.slide img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.controls {
    width: 100%;
    max-width: 1200px;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    text-align: center;
}

.prev,
.next {
    display: flex;
    justify-content: center;
    align-content: center;
    border: none;
    border-radius: 5px;
    position: absolute;
    padding: 10px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    }

.prev {
    top: 50%;
    left: 10px;
}

.next {
    top: 50%;
    right: 10px;
    
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}



@media (min-width: 768px) {
    body {
        max-width: 100%;
        margin: 0 auto;
    }

    #banner {
        height: 100%;
        width: 100%;
        display: block;
        align-items: flex-start;
        justify-content: center;
    }

    .grid {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }

    #grid-1,
    #grid-2,
    #grid-3,
    #grid-4 {
        display: flex;
        height: auto;
        align-items: flex-start;
        justify-content: flex-start;
        max-width: 100%;
        padding: .5rem;
        width: auto;
        filter: drop-shadow(1rem 1rem 2rem black);
    }

    /* BOTAO COMPRAR */

    #destaque-comprar {
        width: 9rem;
        height: 2.5rem;
        right: 5rem;
        position: absolute;
    }
}



@media (min-width: 1200px) {
    body * {
        max-width: 100%;
        margin: 0 auto;
    }

    main {
        width: 1200px;
        padding-top: 80px;
    }

    #banner,
    .big3,
    .grid {
        width: 100%;
        max-width: 1200px;
    }

    .big3 {
        width: 100%;
        max-width: 1200px;

    }

    .grid {
        height: 100%;
        width: 100%;
        max-width: 1200px;
        display: flex;
        align-items: center;
        justify-content: center;

    }

    /* BOTAO COMPRAR */

    .grid {
        position: relative;
    }

    #destaque-comprar {
        top: 1rem;
        right: 2rem;
        width: 9rem;
        height: 2.5rem;
        position: absolute;
    }

}