<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script type="text/javascript" src="../script.js/modalCadastro.js" ></script>
    <link rel="stylesheet" href="../css/cadastroProdutos.css">
    <title>CadastroProdutos</title>

</head>
<body>
    <header>
        <div class="cadastroProutos">
            <img class="logo" src="../img/logopreto.png" alt="">
            <a class="usuario" href=""> Usuario </a>
        </div>
    </header>
    <main>
        <div class="container">
            <div class="papelPao">
                <section class="box-sumario">
                    <nav class="sumario">
                        <ul>
                            <li><a href="../views/home.html">Home </a></li>
                            <li><a href="#">Meus Produtos</a></li>
                            <li><a href="../views/cadastroProduto.html">Cadastro Produtos</a></li>
                        </ul>
                    </nav>
                </section>
                <section class="box-menu">
                    <ul>
                        <li><a href="#">Cadastro de livro  </a></li>
                        <li><a href="#">Envios </a></li>
                        <li><a href="#">Informações de Vendas </a></li>
                    </ul>
                </section>
            </div>

            
            <div class="box-cadastro">
                <form  class="formulario" action="">
                    <legend><h1> Cadastro de Livro</h1></legend>
                    <br>
                    <div class="double">
                        <label for="imagemCapa">Imagens Capa:</label>
                        <input  class ="alteraInp" type="text" name="imagemCapa" class="searchimg" value="Adicionar" required>
                        <label for="imagensMiniaturas">Imagens Miniaturas:</label>
                        <input class ="alteraInp" type="text" name="imagensMiniaturas" class="searchimg" value="Adicionar" required>
                    </div>
                    <br>
                    <div class="double">
                        <label for="tituloLivro">Titulo do Livro:</label>
                        <input type="text" name="tituloLivro"   required>
                        <label for="categoria">Categoria:</label>
                        <input class="open-modal" onclick="abrirModal()" type="text" name="categoria" value="categoria" required></a>
                    </div>
                    <br><br>
                    <div class="double">
                        <label for="autor">Autor:</label>
                        <input type="text" name="autor" required>
                        <label for="editora">Editora:</label>
                        <input type="text" name="editora"   required>
                    </div>
                    <br><br>
                    <div class="double">
                        <label for="idioma">Idioma:</label>
                        <input type="text" name="idioma"  required>
                        <label for="paginas">Paginas:</label>
                        <input type="text" name="paginas"   required>
                    </div>
                    <br><br>
                    <div class="double">
                        <label for="publicacao">Publicação:</label>
                        <input type="text" name="publicacao"  required>
                        <label for="dimesaoes">Dimensões:</label>
                        <input type="text" name="dimesaoes"  required>
                        </div>
                        <br><br>
                        <div class="double">
                            <label for="acabamento">Acabamento:</label>
                            <input type="text" name="acabamento"  required>
                            <label for="nome">ISBN -10 :</label>
                            <input type="text" name="name"  required>
                        </div>
                        <br><br>
                        <div class="double">
                            <label for="nome">Preço:</label>
                            <input type="text" name="name" required>
                            <label for="nome">ISBN -20 :</label>
                            <input type="text" name="name"  required>
                        </div>
                        <br><br>
                        <div class="single">
                            <label for="sinopse">Sinopse:</label>
                            <textarea name="sinopse" ></textarea>
                        </div>
                        <br><br>
                        <section class="configbutton">
                            <div class="button">
                                <input class = "cancelar" type="cancelar" name="cancelar" value="Cancelar">
                            </div>
                            <div class="button">
                                <input class = salvar type="salvar" name="salvar" id="salvar" value="Salvar">
                            </div>
                            <div class="button">
                                <input class = publicar type="pulicar" name="pulicar" value="Publicar">
                            </div>
                        </section>
                        
                    </form> 
                </div>
            </div>
        </div>
    </div>
    </main>
    
    <section class="bg-modal" id="bg-modal">
        <div class="modal">
            <div class="categoria">
                <div class="botaoFechar">
                    <span class="close" onclick="fecharModal()">&times;</span>
                </div>
                <div class="titulo">
                    <h2 class="editarCategoria">Editar Categoria</h2>
                    <input class="pesquisar" type="text" placeholder="Nome das Categorias">
                </div>
            </div>
            <div class="categortiaInput">
                <div class="box-01">
                    <ul class="bloco">
                        <li class="blocoli">Não Ficção</li>
                        <li class="blocoli">Ficção</li>
                        <li class="blocoli">Biografia</li>
                        <li class="blocoli">Ciencias</li>
                        <li class="blocoli">HQs e Mangás</li>
                        <li class="blocoli">Classicos</li>
                        <li class="blocoli">Intestigação</li>
                        <li class="blocoli">Crimese</li>
                        <li class="blocoli">Fantasia</li>
                        <li class="blocoli">Ficção Cientí</li>
                        <li class="blocoli">Filmes, sérieames</li>
                        <li class="blocoli">Infantil</li>
                        <li class="blocoli">Romance</li>
                 
                   </ul>
                   <div>
                    <button class="addItem">></button>
                   </div>
                    <ul class="bloco">
                        <li class="blocoli">Não Ficção</li>
                        <li class="blocoli">Ficção</li>
                        <li class="blocoli">Biografia</li>
                    </ul>
                    <button class="addItem">></button>
                    <ul class="bloco">
                        <li class="blocoli">Filmes, sérieames</li>
                        <li class="blocoli">Infantil</li>
                        <li class="blocoli">Romance</li>
                    </ul>
                    <div class="baixoBox-01"></div>
                </div>
                <div class="selecao01">
                    <a class="a">Categoria selecionada :</a>
                </div>
                <div class="selecao02">
                    <a class="a">Nenhuma categoria foi escolhida</a>
                </div>
            </div>
            <div class="button-modal">
                <div >
                    <button class="cancelar" type="submit" value="">Cancelar</button>
                </div>
                <div>
                    <button class="confirmar" type="submit" >Confirmar</button>
                </div>
            </div>
        </div>
    </section>
    
</body>
</html>


                    
            
                