<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CadastroLivro</title>
</head>
<body>
    <header>
        <section>
            <div>
                <img src="/Avalon-V2/img/logopreto.png" alt="">
                <a href=""> Usuario </a>
            </div>
        </section>
    </header>
    <section>
        <div class="box-sumario">
            <section>
                <nav>
                    <ul>
                        <li><a href="#">Home > </a></li>
                        <li><a href="#">Meus Produtos > </a></li>
                        <li><a href="#">Cadastro de Livro ></a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </section>
    <section>

        <div class="box-menu">
            <section>
                <nav>
                    <ul>
                        <li><a href="#">Cadastro de livro  </a></li>
                        <li><a href="#">Envios </a></li>
                        <li><a href="#">Informações de Vendas </a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </section>
    <main>
        <div class="box-cadastro">
            <form action="">
                <fieldset>
                    <legend><b> Cadastro de Livro</b></legend>
                    <br>
                    <div class="inputBox">
                        <input type="text" name="tituloLivro" id="tituloLivro" class="inputUser" required>
                        <label for="tituloLivro">Titulo do Livro:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="categoria" id="categoria" class="inputUser" required>
                        <label for="categoria">Categoria:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="autor" id="autor" class="inputUser" required>
                        <label for="autor">Autor:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="editora" id="editora" class="inputUser" required>
                        <label for="editora">Editora:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="idioma" id="idioma" class="inputUser" required>
                        <label for="idioma">Idioma:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="paginas" id="paginas" class="inputUser" required>
                        <label for="paginas">Paginas:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="publicacao" id="publicacao" class="inputUser" required>
                        <label for="publicacao">Publicação:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="dimesaoes" id="dimesaoes" class="inputUser" required>
                        <label for="dimesaoes">Dimensões:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="acabamento" id="acabamento" class="inputUser" required>
                        <label for="acabamento">Acabamento:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="name" id="name" class="inputUser" required>
                        <label for="nome">ISBN:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <input type="text" name="name" id="name" class="inputUser" required>
                        <label for="nome">Preço:</label>
                    </div>
                    <br><br>
                    <div class="inputBox">
                        <textarea name="sinopse" id="sinopse" rows="5" cols="33"></textarea>
                        <label for="sinopse">Sinopse:</label>
                    </div>
                    <br><br>
                </fieldset>
                <section>
                    <div>
                        <input type="cancelar" name="cancelar" id="cancelar">
                    </div>
                    <div>
                        <input type="salvar" name="salvar" id="salvar">
                    </div>
                    <div>
                        <input type="pulicar" name="pulicar" id="pulicar">
                    </div>
                </section>
            </form> 
        </div>
    </main>
</body>
</html>
                    
            
                