<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link rel="stylesheet" href="../css/carrinho.css">
    <link rel="stylesheet" href="../css/button.css">

    <script type="text/javascript" src="../script.js/script.js" defer></script>
    <title>Avalon</title>
</head>

<body>

    <header>
        <section class="container-header">
            <a onclick=abrirHamburguer() id="menuHamburguer"><svg xmlns="http://www.w3.org/2000/svg" width="16"
                    height="16" fill="currentColor" class="bi bi-book-half" viewBox="0 0 16 16">
                    <path
                        d="M8.5 2.687c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492V2.687zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783z" />
                </svg></a>

            <a href="home.html" class="logo"><img id="logo" src="../img/logopreto.png" alt=""></a>

            <div class="busca">
                <form action="/search">
                    <input type="text" name="search" id="search" scr="../img/lupa.png"
                        placeholder="Títulos, Autores e Gêneros ">
                </form>
            </div>

            <div class="icons">

                <a href="" id="lupa">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-search" viewBox="0 0 16 16">
                        <path
                            d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
                    </svg>
                </a>

                <a href="pagina-login.html" id="login">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-person-fill" viewBox="0 0 16 16">
                        <path d="M3 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H3Zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Z" />
                    </svg>
                </a>


                <a onclick=abrirCarrinhoFlutuante() id="car-shopping">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-cart-fill" viewBox="0 0 16 16">
                        <path
                            d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .491.592l-1.5 8A.5.5 0 0 1 13 12H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
                    </svg>
                </a>

            </div>
        </section>

        <section class="navegacao">
            <nav class="lista">
                <ul type="none">
                    <li> <a href="home.html"> PÁGINA INICIAL</a> </li>
                    <li> <a href="estiloProdutos.html"> TODOS OS LIVROS</a> </li>
                    <li> <a href="#"> GÊNEROS</a> </li>
                    <li> <a href="#"> QUEM SOMOS</a> </li>
                    <li> <a href="#"> FALE CONOSCO</a> </li>
                    <li> <a href="cadastroProduto.html"> CADASTRO DE PRODUTOS</a> </li>
                </ul>
            </nav>
            <section>
    </header>
    <main>
        <section class="containerProduto">
            <ul class="cabecalho">
                <li id="header1"><span>PRODUTO</span></li>
                <li id="header2"><span>QUANTIDADE</span></li>
                <li id="header3"><span>PREÇO</span></li>
            </ul>

            <div class="produto">
                <img class="imagemProduto" src="../produtos/my broken mariko/mariko-capa.jpg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">MY BROKEN MARIKO</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                            <input type="number" id="quantidadeValue" value="2">
                            <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                        </div>
                        <span id="preco"> R$ 39,90 </span>
                        <button class="excluir">X</button>
                    </div>
                </div>
            </div>

            <div class="produto">
                <img class="imagemProduto" src="../produtos/manifesto/capa.jpg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">MANIFESTO COMUNISTA</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                            <input type="number" id="quantidadeValue" value="1">
                            <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                        </div>
                        <span id="preco"> R$ 34,90 </span>
                        <button class="excluir">X</button>
                    </div>
                </div>
            </div>

            <div class="produto">
                <img class="imagemProduto" src="../produtos/Revolução dos bichos/revolucaodos bichos-capa.jpeg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">REVOLUÇÃO DOS BICHOS</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                            <input type="number" id="quantidadeValue" value="1">
                            <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                        </div>
                        <span id="preco"> R$ 19,90 </span>
                        <button class="excluir">X</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="containerFinalizacao">
            <div class="containerEntrega">
                <h6>Entrega</h6>
                <div>
                    <input id="endereco" type="text" placeholder="CEP">
                    <button id="calcular"><a href="">CALCULAR</a></button>
                </div>
            </div>

            <div class="containerCheckout">
                <h5>RESUMO DO PEDIDO</h5>
                <div class="desconto">
                    <label>Cupom de Desconto<label>
                            <div>
                                <input id="cupom" type="text" placeholder="CÓDIGO">
                                <button id="calcular"><a href="">ADICIONAR</a></button>
                            </div>
                </div>

                <table class="table">
                    <tbody>
                        <tr class="itens">
                            <td class="info">Subtotal</td>
                            <td class="monetary">R$ 94,70</td>
                        </tr>
                        <tr class="itens">
                            <td class="info">Entrega</td>
                            <td class="monetary" id="desconto">Grátis</td>
                        </tr>
                        <tr class="itens">
                            <td class="info">Desconto</td>
                            <td class="monetary" id="desconto">- R$ 9,47</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="info">Total</td>
                            <td class="monetary">R$ 85,23</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="next-page">
                    <button class="continuar" id="carFlutuanteContinuar"><a href="checkout.html">CONTINUAR</a></button>
                </div>
            </div>
        </section>
    </main>

    <footer>
        <section class="footer">
            <section class="container-footer">
                <div class="column" id="logo2">
                    <img id="logo2" src="../img/logopreto.png" alt="">
                </div>

                <div class="column">
                    <section>
                        <h5>Privacidade e Termos</h5><br>
                    </section>
                    <section>
                        <ul type="none">
                            <li>Política de Pagamento</li>
                            <li>Política de Privacidade</li>
                            <li>Troca e Devolução</li>
                        </ul>
                    </section>
                </div>

                <div class="column">
                    <section>
                        <h5>Mapa do Site</h5><br>
                    </section>
                    <section>
                        <ul type="none">
                            <li>Quem Somos</li>
                            <li>Todos os Livros</li>
                            <li>Autores</li>
                            <li>Gêneros</li>
                            <li>Fale Conosco</li>
                        </ul>
                    </section>
                </div>

                <div class="column">
                    <section>
                        <h5>Formas de pagamento</h5><br>
                    </section>
                    <section class="cards">
                        <a href=""><img id="cards" src="../img/cards-transparent.png" alt=""></a>
                    </section>
                </div>
                <div class="column" id="redes-sociais">
                    <section>
                        <h5>Redes Sociais</h5><br>
                    </section>
                    <section>
                        <nav>
                            <a href=""><img height="15rem" src="../img/instagram 1.png" alt=""></a>
                            <a href=""><img height="15rem" src="../img/google-plus-g 1.png" alt=""></a>
                            <a href=""><img height="15rem" src="../img/facebook-f 1.png" alt=""></a>
                            <a href=""><img height="15rem" src="../img/linkedin-in 1.png" alt=""></a>
                        </nav>
                    </section>
                </div>
            </section>
            <section class="autores">
                <nav>
                    <ul type="none">
                        <p>Desenvolvido por</p>
                        <li> <a href="#"> Amanda</a> </li>
                        <li> <a href="#"> Igor</a> </li>
                        <li> <a href="#"> João Paulo</a> </li>
                        <li> <a href="#"> Mateus</a> </li>
                        <li> <a href="#"> Paloma</a> </li>
                    </ul>
                </nav>
            </section>
            <section>
    </footer>
</body>

</html>

</section>
</body>

</html>