<div class="carrinhoFlu">
    <section class="carrinhoFlutuante" id="carrinhoFlutuante">
        <div class="headerFlutuante" id="primeiro">
            <h5>MEU CARRINHO</h5>
            <button onclick=fecharCarrinhoFlutuante() class="icons-btn"><i class='bx bx-x'></i></button>
        </div>
        <section class="containerLivro" id="containerLivro">
            <div class="Livro1" id="Livro1">
                <img class="imagemLivro" src="/images/mariko-capa.jpg" alt="">
                <div class="informationLivro">
                    <div class="nomeLivro">
                        <h5 id="LivroTitulo">MY BROKEN MARIKO</h5>
                    </div>
                    <div class="informationLivroValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 39,90 </span>
                        <button id="excluir" onclick="excluirDentroCarrinho('Livro1')">X</button>
                    </div>
                </div>
            </div>

            <div class="Livro2" id="Livro2">
                <img class="imagemLivro" src="/images/produtos/manifesto/capa.jpg" alt="">
                <div class="informationLivro">
                    <div class="nomeLivro">
                        <h5 id="LivroTitulo">MANIFESTO COMUNISTA</h5>
                    </div>
                    <div class="informationLivroValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 34,90 </span>
                        <button id="excluir" onclick="excluirDentroCarrinho('Livro2')">X</button>
                    </div>
                </div>
            </div>

            <div class="Livro3" id="Livro3">
                <img class="imagemLivro" src="/images/Revolução dos bichos.jpeg" alt="">
                <div class="informationLivro">
                    <div class="nomeLivro">
                        <h5 id="LivroTitulo">REVOLUÇÃO DOS BICHOS</h5>
                    </div>
                    <div class="informationLivroValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 19,90 </span>
                        <button id="excluir" onclick="excluirDentroCarrinho('Livro3')">X</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="continuar">
            <form id="formCarrinho" method="get" action="/carrinho">
                <input type="hidden" name="Livros" id="LivrosCarrinho">
                <button type="submit" id="continuar">CONTINUAR</button>
            </form>
        </div>

    </section>

    <div>