<div class="carrinhoFlu">
    <section class="carrinhoFlutuante" id="carrinhoFlutuante" >
        <div class="headerFlutuante" id="primeiro" >
            <h5>MEU CARRINHO</h5>
            <button id="excluir"onclick="fecharCarrinhoFlutuante()">X</button>
        </div>
        <section class="containerProduto" id="containerProduto">                                                                                                                                                                                                                                                                      
            <div class="produto1" id="produto1">
                <img class="imagemProduto" src="/images/mariko-capa.jpg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">                                                                                                                                                                       
                        <h5 id="produtoTitulo">MY BROKEN MARIKO</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 39,90 </span>
                        <button id="excluir"  onclick="excluirDentroCarrinho('produto1')">X</button>
                    </div>
                </div>
            </div>

            <div class="produto2"id="produto2">
                <img class="imagemProduto" src="/images/produtos/manifesto/capa.jpg" alt="">
                <div class="informationProduto" >
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">MANIFESTO COMUNISTA</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 34,90 </span>
                        <button id="excluir" onclick="excluirDentroCarrinho('produto2')" >X</button>
                    </div>
                </div>
            </div>

            <div class="produto3" id="produto3">
                <img class="imagemProduto" src="/images/Revolução dos bichos.jpeg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">REVOLUÇÃO DOS BICHOS</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 19,90 </span>
                        <button id="excluir" onclick="excluirDentroCarrinho('produto3')">X</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="continuar">
            <form id="formCarrinho"    method="get" action="/produto/carrinho">
                <input type="hidden" name="produtos" id="produtosCarrinho">
                <button type="submit" id="continuar">CONTINUAR</button>
            </form>
        </div>

    </section>

<div>
