<footer>
    <section class="footer">
        <section class="container-footer">
            <div class="column" id="logo2">
                <img id="logo2" src="images/logopreto.png" alt="">
            </div>

            <div class="column">
                <h5>Privacidade e Termos</h5><br>
                <section>
                    <ul type="none">
                        <li>Política de Pagamento</li>
                        <li>Política de Privacidade</li>
                        <li>Troca e Devolução</li>
                    </ul>
                </section>
            </div>

            <div class="column">
                <h5>Mapa do Site</h5><br>
                <ul type="none">
                    <li>Quem Somos</li>
                    <li>Todos os Livros</li>
                    <li>Autores</li>
                    <li>Gêneros</li>
                    <li>Fale Conosco</li>
                </ul>
            </div>

            <div class="column">
                <h5>Formas de pagamento</h5><br>
                <a href=""><img class="cards" src="images/cards-transparent.png" alt=""></a>

            </div>
            <div class="column" id="redes-sociais">
                <h5>Redes Sociais</h5><br>
                <nav>
                    <a href=""><img height="15rem" src="images/instagram 1.png" alt=""></a>
                    <a href=""><img height="15rem" src="images/google-plus-g 1.png" alt=""></a>
                    <a href=""><img height="15rem" src="images/facebook-f 1.png" alt=""></a>
                    <a href=""><img height="15rem" src="images/linkedin-in 1.png" alt=""></a>
                </nav>
            </div>
        </section>
        <section class="autores">
            <nav>
                <ul type="none">
                    <p>Desenvolvido por</p>
                    <li> <a href="#"> Amanda</a> </li>
                    <li> <a href="#"> Igor</a> </li>
                    <li> <a href="#"> João Paulo</a> </li>
                    <li> <a href="#"> Mateus</a> </li>
                    <li> <a href="#"> Paloma</a> </li>
                </ul>
            </nav>
        </section>
        <section>
</footer>
<<<<<<< HEAD
=======
<div>
    <button  onclick=abrirCarrinhoFlutuante()> Abrir </button>

</div>
<div>
    <button  onclick=botaoTeste()> Teste </button>

</div>

<div class="carrinhoFlu">
    <section class="carrinhoFlutuante" id="carrinhoFlutuante" >
        <div class="headerFlutuante" id="primeiro" >
            <h5>MEU CARRINHO</h5>
            <button id="excluir"onclick="fecharCarrinhoFlutuante()">X</button>
        </div>
        <section class="containerProduto" id="containerProduto">                                                                                                                                                                                                                                                                      
            <div class="produto1" id="produto1">
                <img class="imagemProduto" src="../produtos/my broken mariko/mariko-capa.jpg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">MY BROKEN MARIKO</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 39,90 </span>
                        <button id="excluir"  onclick="excluirDentroCarrinho('produto1')">X</button>
                    </div>
                </div>
            </div>

            <div class="produto2"id="produto2">
                <img class="imagemProduto" src="../produtos/manifesto/capa.jpg" alt="">
                <div class="informationProduto" >
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">MANIFESTO COMUNISTA</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 34,90 </span>
                        <button id="excluir" onclick="excluirDentroCarrinho('produto2')" >X</button>
                    </div>
                </div>
            </div>

            <div class="produto3" id="produto3">
                <img class="imagemProduto" src="../produtos/Revolução dos bichos/revolucaodos bichos-capa.jpeg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">REVOLUÇÃO DOS BICHOS</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <a href="" class="diminuirQtd">-</a>
                            <input type="number" class="quantidadeValue" value="1">
                            <a href="" class="aumentarQtd">+</a>
                        </div>
                        <span id="preco"> R$ 19,90 </span>
                        <button id="excluir" onclick="excluirDentroCarrinho('produto3')">X</button>
                    </div>
                </div>
            </div>
        </section>

        <div class="continuar">
            <button id="continuar"><a href="carrinho.html">CONTINUAR</a></button>
        </div>

    </section>

<div>
>>>>>>> paloma

</body>

</html>