<%- include('partials/header') %>

    <main>
        <div class="container">
            <div class="papelPao">
                <section class="box-sumario">
                    <nav class="sumario">
                        <ul>
                            <li><a href="../views/home.ejs">Home </a></li>
                            <li><a href="#">Meus Produtos</a></li>
                            <li><a href="../views/cadastroProdutos.ejs">Cadastro Produtos</a></li>
                        </ul>
                    </nav>
                </section>
                <section class="box-menu">
                    <ul>
                        <li><a href="#">Cadastro de livro </a></li>
                        <li><a href="#">Envios </a></li>
                        <li><a href="#">Informações de Vendas </a></li>
                    </ul>
                </section>
            </div>


            <div class="box-cadastro">

                <form class="form-auth card" method="post" action="/registro/?_method=PUT">
                    <legend>
                        <h3> Cadastro de Livro</h3>
                    </legend>

                    <div class="double">
                        <div>
                            <label for="imagemCapa">Imagens Capa:</label>
                            <input class="alteraInp" name="imagemCapa" class="searchimg">
                        </div>
                        <div>
                            <label for="imagensMiniaturas">Imagens Miniaturas:</label>
                            <input class="alteraInp" name="imagensMiniaturas" class="searchimg">
                        </div>
                    </div>

                    <div class="double">
                        <div>
                            <label for="tituloLivro">Titulo do Livro:</label>
                            <input type="tituloLivro" name="tituloLivro" placeholder="Digite o nome do livro">

                        </div>
                        <div>
                            <label for="categoria">Categoria:</label>
                            <input class="open-modal" onclick="abrirModal()" type="text" value="categoria"
                                name="categoria" required></a>
                        </div>
                    </div>

                    <div class="double">
                        <div>
                            <label for="autor">Autor:</label>
                            <input type="autor" name="autor" placeholder="Digite o nome do autor">

                        </div>
                        <div>
                            <label for="editora">Editora:</label>
                            <input type="editora" name="editora" placeholder="Digite a editora">

                        </div>
                    </div>

                    <div class="double">
                        <div>
                            <label for="idioma">Idioma:</label>
                            <input type="idioma" name="idioma" placeholder="Digite o idioma">

                        </div>
                        <div>
                            <label for="paginas">Paginas:</label>
                            <input type="paginas" name="paginas" placeholder="Digite o numero de paginas">

                        </div>
                    </div>

                    <div class="double">
                        <div>
                            <label for="publicacao">Publicação:</label>
                            <input type="publicacao" name="publicacao" placeholder="Digite o ano de publicação">

                        </div>
                        <div>
                            <label for="dimesoes">Dimensões:</label>
                            <input type="dimensoes" name="dimensoes" placeholder="Coloque a dimensão do produto">

                        </div>
                    </div>

                    <div class="double">
                        <div>
                            <label for="acabamento">Acabamento:</label>
                            <input type="acabamento" name="acabamento" placeholder="Campo não pode estar vazio">

                        </div>
                        <div>
                            <label for="nome">ISBN -10 :</label>
                            <input type="isbn" name="isbn" placeholder="Campo não pode estar vazio">

                        </div>
                    </div>

                    <div class="double">
                        <div>
                            <label for="preco">Preço:</label>
                            <input type="preco" name="preco" placeholder="Coloque o valor do produto">

                        </div>
                        <div>
                            <label for="nome">ISBN -20 :</label>
                            <input type="isbn" name="isbn" placeholder="Campo não pode estar vazio">

                        </div>
                    </div>


                    <div class="single">
                        <label for="sinopse">Sinopse:</label>
                        <input type="sinopse" name="sinopse" placeholder="Coloque a descrição">

                    </div>



                    <section class="configbutton">
                        <div class="button">
                            <input class="cancelar" type="submit" name="cancelar" value="Cancelar">
                        </div>
                        <div class="button">
                            <input class="publicar" type="submit" name="publicar" value="Publicar">
                        </div>
                    </section>

            </div>
            </form>
        </div>
        </div>
        </div>
    </main>


    <section class="bg-modal" id="bg-modal">
        <div class="modal">
            <div class="categoria">
                <div class="botaoFechar">
                    <span class="close" onclick="fecharModal()">&times;</span>
                </div>
                <div class="titulo">
                    <h2 class="editarCategoria">Editar Categoria</h2>
                    <input class="pesquisar" type="text" placeholder="Nome das Categorias">
                </div>
            </div>
            <div class="categortiaInput">
                <div class="box-01">
                    <ul class="bloco">
                        <li class="blocoli">Não Ficção</li>
                        <li class="blocoli">Ficção</li>
                        <li class="blocoli">Biografia</li>
                        <li class="blocoli">Ciencias</li>
                        <li class="blocoli">HQs e Mangás</li>
                        <li class="blocoli">Classicos</li>
                        <li class="blocoli">Intestigação</li>
                        <li class="blocoli">Crimese</li>
                        <li class="blocoli">Fantasia</li>
                        <li class="blocoli">Ficção Cientí</li>
                        <li class="blocoli">Filmes, sérieames</li>
                        <li class="blocoli">Infantil</li>
                        <li class="blocoli">Romance</li>

                    </ul>
                    <div>
                        <button class="addItem">></button>
                    </div>
                    <ul class="bloco">
                        <li class="blocoli">Não Ficção</li>
                        <li class="blocoli">Ficção</li>
                        <li class="blocoli">Biografia</li>
                    </ul>
                    <button class="addItem">></button>
                    <ul class="bloco">
                        <li class="blocoli">Filmes, sérieames</li>
                        <li class="blocoli">Infantil</li>
                        <li class="blocoli">Romance</li>
                    </ul>
                    <div class="baixoBox-01"></div>
                </div>
                <div class="selecao01">
                    <a class="a">Categoria selecionada :</a>
                </div>
                <div class="selecao02">
                    <a class="a">Nenhuma categoria foi escolhida</a>
                </div>
            </div>
            <div class="button-modal">
                <div>
                    <button class="cancelarModal" type="submit" value="">Cancelar</button>
                </div>
                <div>
                    <button class="confirmar" type="submit">Confirmar</button>
                </div>
            </div>
        </div>
    </section>

    <%- include('partials/footer') %>