<%- include('partials/header') %>
    <main class="corpo">
      
        <div class="produto">
            <img class="imagemProduto" src="../produtos/my broken mariko/mariko-capa.jpg" alt="">
            <div class="informationProduto">
                <div class="nomeProduto">
                    <h5 id="produtoTitulo">MY BROKEN MARIKO</h5>
                </div>
                <div class="informationProdutoValue">
                    <div>
                        <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                        <input type="number" id="quantidadeValue" value="2">
                        <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                    </div>
                    <span id="preco"> R$ 39,90 </span>
                    <button class="excluir">X</button>
                </div>
            </div>
        </div>

        <div class="produto">
            <img class="imagemProduto" src="../produtos/manifesto/capa.jpg" alt="">
            <div class="informationProduto">
                <div class="nomeProduto">
                    <h5 id="produtoTitulo">MANIFESTO COMUNISTA</h5>
                </div>
                <div class="informationProdutoValue">
                    <div>
                        <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                        <input type="number" id="quantidadeValue" value="1">
                        <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                    </div>
                    <span id="preco"> R$ 34,90 </span>
                    <button class="excluir">X</button>
                </div>
            </div>
        </div>

        <div class="produto">
            <img class="imagemProduto" src="../produtos/Revolução dos bichos/revolucaodos bichos-capa.jpeg" alt="">
            <div class="informationProduto">
                <div class="nomeProduto">
                    <h5 id="produtoTitulo">REVOLUÇÃO DOS BICHOS</h5>
                </div>
                <div class="informationProdutoValue">
                    <div>
                        <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                        <input type="number" id="quantidadeValue" value="1">
                        <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                    </div>
                    <span id="preco"> R$ 19,90 </span>
                    <button class="excluir" id="excluir">X</button>
                </div>
            </div>
        </div>

        </section>

        <div class="next-page-cart">
            <button class="continuar" id="continuar"><a href="checkout.html">CONTINUAR</a></button>
        </div>
        </section>
    </main>
    <%- include('partials/footer') %>

