<%- include('partials/header') %>

    <main>
        <section class="containerProduto">
            <ul class="cabecalho">
                <li id="header1"><span>PRODUTO</span></li>
                <li id="header2"><span>QUANTIDADE</span></li>
                <li id="header3"><span>PREÇO</span></li>
            </ul>

            <div class="produto">
                <img class="imagemProduto" src="/images/produtos/my broken mariko/mariko-capa.jpg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">MY BROKEN MARIKO</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                            <input type="number" id="quantidadeValue" value="2">
                            <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                        </div>
                        <span id="preco"> R$ 39,90 </span>
                        <button class="excluir">X</button>
                    </div>
                </div>
            </div>

            <div class="produto">
                <img class="imagemProduto" src="/images/produtos/manifesto/capa.jpg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">MANIFESTO COMUNISTA</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                            <input type="number" id="quantidadeValue" value="1">
                            <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                        </div>
                        <span id="preco"> R$ 34,90 </span>
                        <button class="excluir">X</button>
                    </div>
                </div>
            </div>

            <div class="produto">
                <img class="imagemProduto" src="/images/produtos/Revolução dos bichos/revolucaodos bichos-capa.jpeg" alt="">
                <div class="informationProduto">
                    <div class="nomeProduto">
                        <h5 id="produtoTitulo">REVOLUÇÃO DOS BICHOS</h5>
                    </div>
                    <div class="informationProdutoValue">
                        <div>
                            <button onclick="diminuirQtd('down')" class="diminuirQtd">-</button>
                            <input type="number" id="quantidadeValue" value="1">
                            <button type="button" onclick="aumentarQtd('up')" class="aumentarQtd">+</button>
                        </div>
                        <span id="preco"> R$ 19,90 </span>
                        <button class="excluir">X</button>
                    </div>
                </div>
            </div>
        </section>

        <section class="containerFinalizacao">
            <div class="containerEntrega">
                <h6>Entrega</h6>
                <div>
                    <input id="endereco" type="text" placeholder="CEP">
                    <button id="calcular"><a href="">CALCULAR</a></button>
                </div>
            </div>

            <div class="containerCheckout">
                <h5>RESUMO DO PEDIDO</h5>
                <div class="desconto">
                    <label>Cupom de Desconto<label>
                            <div>
                                <input id="cupom" type="text" placeholder="CÓDIGO">
                                <button id="calcular"><a href="">ADICIONAR</a></button>
                            </div>
                </div>

                <table class="table">
                    <tbody>
                        <tr class="itens">
                            <td class="info">Subtotal</td>
                            <td class="monetary">R$ 94,70</td>
                        </tr>
                        <tr class="itens">
                            <td class="info">Entrega</td>
                            <td class="monetary" id="desconto">Grátis</td>
                        </tr>
                        <tr class="itens">
                            <td class="info">Desconto</td>
                            <td class="monetary" id="desconto">- R$ 9,47</td>
                        </tr>
                    </tbody>
                    <tfoot>
                        <tr>
                            <td class="info">Total</td>
                            <td class="monetary">R$ 85,23</td>
                        </tr>
                    </tfoot>
                </table>

                <div class="next-page">
                    <button class="continuar" id="finalizarCompra"><a href="checkout.html">CONTINUAR</a></button>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>