<%- include('partials/header') %>

  <link rel="stylesheet" href="/stylesheets/crud.css">
  <script src="/javascripts/crud.js" defer></script>

  <main>
    <div class="crud-types">
      <button class="btnCrud"><a href="/admin/autores">Autores</a></button>
      <button class="btnCrud"><a href="/admin/editoras">Editoras</a></button>
      <button class="btnCrud"><a href="/admin">Livros</a></button>
    </div>
    <div class="container-crud">

      <h4 class="crud-title">CADASTRO CATEGORIAS</h4>

      <div class="container-header-crud">
        <div class="header-crud">
          <button class="btnCrud"><a href="/Livro/admin">Todos</a></button>
          <button onclick="openModal()" class="btnCrud"><a>Adicionar</a></button>
          <button class="btnCrud"><a> Deletar</a></button>
          <div class="search-crud">
            <form action="/Livro/buscar" method="get">
              <input type="text" name="buscar" id="read" placeholder="Buscar ">
            </form>
          </div>

        </div>
      </div>
      <div class="divTable">
        <table>
          <thead>
            <tr>
              <th><input type="checkbox"></th>
              <th>ID</th>
              <th>Nome</th>

              <th class="acao">Editar</th>
              <th class="acao">Excluir</th>
            </tr>
          </thead>
          <tbody>
            <% categorias.forEach(categoria=> { %>
              <tr>
                <td><input type="checkbox"></td>
                <td>
                  <%= categoria.id %>
                </td>
                <td>
                  <%= categoria.tipo %>
                </td>

                <td class="acao">
                  <button onclick="editModal('<% categoria %>')" class="crudform"><i class='bx bx-edit'></i></button>

                </td>
                <td class="acao">
                  <form action="/categorias/deletar/<%= categoria.id %>?_method=DELETE" method="POST">
                    <button class="crudform"><i class='bx bx-trash'></i></button>
                </td>

                <% }) %>
          </tbody>

        </table>
      </div>

      <div class="modal-container">
        <div class="modal">

          <form class="form-crud" action="/produto/admin" method="POST" enctype="multipart/form-data">
            <br>

            <label class="form-crud-label" for="nome">Categoria:</label> <br>
            <input class="form-crud-input" type="text" name="categoria" placeholder="Digite o nome da Categoria ">

            <button class="btnCrud" id="btnSalvar" type="submit"><a>Salvar</a></button>
          </form>
        </div>
      </div>
      </section>
  </main>