<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/menu-hamburguer.css">
    <script type="text/javascript" src="../script.js/modalCadastro.js" defer ></script>    
    <title>Menu-hamburguer</title>
</head>
<body>

    <section id="menu-hamburguer">

        <input type="checkbox" id="chec">
        <label href="abrirHamburguer"  for="chec"> 
            <img onclick=abrirHamburguer() href="#"src="/img/Livro.png">

        </a>
        </label>
        <nav id="chave-hamburguer">
            <ul>
                <li> <a href="../views/home.html"> PÁGINA INICIAL</a> </li>
                <li> <a href="../views/home.html"> HOME</a> </li>
                <li> <a href="../views/TodososLivros.html"> TODOS OS LivroS</a> </li>
                <li> <a href="#"> GÊNEROS</a> </li>
                <li> <a href="#"> QUEM SOMOS</a> </li>
                <li> <a class="open-modal" onclick="abrirModal()" href="#"> FALE CONOSCO</a> </li>
            </ul>
            
        </nav>
        
    </section>
        
        
        
        
        
    
</body>
</html>