<%- include('partials/header') %>
    <nav id="chaveHamburguer">
        <ul>
            <li> <a href="../views/home.html"> PÁGINA INICIAL</a> </li>
            <li> <a href="../views/estiloProdutos.html"> TODOS OS LIVROS</a> </li>
            <li> <a href="#"> GÊNEROS</a> </li>
            <li> <a href="#"> QUEM SOMOS</a> </li>
            <li> <a class="open-modal" href="#"> FALE CONOSCO</a> </li>
        </ul>

    </nav>
    <%- include('partials/footer') %>