<%- include('partials/header') %>
<main>
    <section class="pageLogin">
        <h5 class="login2">LOGIN</h5>
        <form class="form-auth card" method="get" action="/views/usuario.ejs">
            <li class="email">E-mail</li>
            <input type="email" name="email" placeholder="Digite seu email">
            <li class="password">Senha</li>
            <input id="password" type="password" name="password" placeholder="Digite sua senha">
            <button class="entrar" type="submit"><a href="/views/usuario.ejs">
                    ENTRAR</a>
            </button>
            <a href="" class="esqueci">Esqueci minha senha</a>
            <a href="" class="cadastro">Não tenho cadastro</a>
            <a href="/views/intranet.ejs" class="cadastro">Intranet</a>
        </form>
        <div class="redes">
            <h5 class="login3">Login com redes sociais</h5>
            <a href=""><img id="google" src="../img/google.png" alt="">continue com google</a>
            <a href=""><img id="facebook" src="../img/facebook.png" alt="">continue com facebook</a>
    </section>
</main>
<%- include('partials/footer') %>