<%- include('partials/header') %>
<main>
    <section class="cadastro">

        <div class="cadastro2">
            <h5>CADASTRO</h5>
        </div>
        <form class="form-auth card" method="post" action="/registro">
            <li class="email">E-mail</li>
            <input type="email" name="email" placeholder="Digite seu email">
            <li class="senha">Senha</li>
            <input type="senha" name="senha" placeholder="Digite sua senha">
            <li class="password">Confirme sua senha</li>
            <input type="password" name="password" placeholder="Confirme sua senha">
            <li class="telefone">Telefone</li>
            <input type="telefone" name="telefone" placeholder="Digite um numero de telefone">
            <button class="entrar" type="submit"><a href="">
                    CADASTRE-SE
            </button></a>
        </form>
</main>
  <%- include('partials/footer') %>