*{
    margin:0;
    padding:0;
}

nav ul li a {
    text-decoration: none;
    color:rgb(15, 16, 16);
    display: block;
    padding: 20px 5px;
    color: #05a065;
}


 nav ul{
    top: 70px;
    list-style: none;
    background-color: (106, 100, 1rgb00);
    position: absolute;
    width: 100%;
}
section label img{
    width: 40px;

}
section input[type="checkbox"]{
    display: none;
}

section nav  {
    background-color: #9CD9C2;
    width: 350px;
    height: 100%;
    left:-350px;
    position: absolute;
    transition: all .5s;
}


a:hover{
    background-color: rgb(176, 224,230);
    color: black;
}
section label{
   
    padding: 15px;
    position: absolute;
    z-index: 99;
}
