
<%- include('partials/header') %> 

<div class="cart-carrinho">
    <h3>Carrinho de livros</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Imagem</th>
          <th>Autor</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr>
          
          <td> 1</td>
          <td class= "imagem-carrinho"> <img src="../images/1663870733.webp"></img></td>
          <td>John Doe</td>
          <td>R$20,00</td>
          <td>
            <button class="decrease">-</button>
            <input type="text" value="1" class="quantity">
            <button class="increase">+</button>
          </td>
          <td class="item-total">R$20,00</td>
          <td><button class="remove">Remover</button></td>
        </tr>
        <tr>
          <td>2</td> 
          <td class= "imagem-carrinho"> <img src="../images/1661966653.webp"></img></td>
          <td>Jane Doe</td>
          <td>R$15,00</td>
          <td>
            <button class="decrease">-</button>
            <input type="text" value="1" class="quantity">
            <button class="increase">+</button>
          </td>
          <td class="item-total">R$15,00</td>
          <td><button class="remove">Remover</button></td>
        </tr>
      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>
          <td>Total:</td>
          <td class="cart-total">R$35,00</td>
        </tr>
      </tfoot>
    </table>
  </div>
    <%- include('partials/footer') %>

