<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/carrinho.css">
  <div class="cart-carrinho">
    <h3>Carrinho de livros</h3>
    <table>
      <thead>
        <tr>
          <th>ID</th>
          <th>Imagem</th>
          <th>Autor</th>
          <th>Preço</th>
          <th>Quantidade</th>
          <th>Total</th>
          <th></th>
        </tr>
      </thead>
      <tbody class="produto-carrinho" id="produto-carrinho" >
        
        
        <tr class="produto" id="produto-">

            <td class="livro-id"></td>
            <td class="livro-imagem"> <img src="" > </td>
            <td class="imagem-titulo"></td>
            <td class="livro-preco" ></td>
            <td>
              <input type="number" min="1"  value="" class="produto-quantidade ">
            </td>
            <td class="cart-total" >R$ 0,00</td>
            <input type="hidden" name="produtoId">
            <!-- <td>
              <form action="/carrinho/deletar" method="post">
                <input type="hidden" name="produtoId"  value="">
                <button type="submit" class="remove">Remover</button>
              </form>
            </td> -->
            
          </tr>
          
            

      </tbody>
      <tfoot>
        <tr>
          <td colspan="4"></td>
          <td>Total : </td>
          <td id="cart-total-subtotal">0,00</td>
        </tr>
      </tfoot>
      <table class="table">
        <tbody>
          <tr class="frete">
            <td >Insira o CEP:
            <form class="formFrete" action="/produto/enderecos" method="get">
                <input type="text" name="cep" placeholder="Insira o CEP">
              </td>
              <td>
                <button class="btnCrud" id="fretebtn">Calcular</button>
              </td>
              <tr>

                <td> Total Frete : </td>
                <td class="resultadoFrete" id="resultadoFrete"> R$ 00,00 </td>
              </form>
            </tr>

          <tr class="itens">
            <td >Subtotal</td>
            <td id="cart-total-subtotal-2">R$ 94,70</td>
          <tr class="itens">
          </tr>
          <td class="info">Entrega</td>
          <td class="monetary" id="desconto">Grátis</td>
          <tr class="itens">
          </tr>
          <td class="info">Desconto</td>
          <td id="cart-total-desconto">0,00</td>
          </tr>
        </tbody>

        <tfoot>
          <tr>
            <td class="info">Total</td>
            <td class="monetary" id="cart-total-Final">R$ </td>
          </tr>
        </tfoot>
        
      </tr>
      
    </div>
  </table>
  <span class="comprarAgora">
    <form id="carrinhoForm" method="post" action="/carrinho">
      <input type="hidden" name="produtosCarrinhoFinal" id="produtosCarrinhoFinal">
      <button type="submit" class=".finalizar-compra-button" onclick="comprarAgora()">Comprar agora</button>
    </form>
  </span>

  <%- include('partials/footer') %>
