<%- include('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/compras.css">

    <main>
        <section class="box-MinhaConta">
            <div class="minhaConta">
                <img src="/images/Lordvoldemort.jpg">

                <span> Nome e Sobrenome</span>

                <div class="contaOpcoes">
                    <a href="/users/conta">MEUS DADOS</a>
                    <a href="/users/compras">MEUS PEDIDOS</a>
                </div>
            </div>
        </section>

        <section class="box-pedidos">
            <div class="caixatexto">
                <h3>MEUS PEDIDOS</h3>
            </div>
            <div class="tabelaPedidos">
                <div class="pedidoLista">
                    <div class="statusPedido">
                        <span class="status">Status: Entregue</span>
                        <span class="n-pedido">N째 do Pedido: 12345</span>
                    </div>
                    <hr>
                    <div class="informationPedido">
                        <div class="product-identification">
                            <img class="cart-product-image" src="../images/1661966653.webp" alt="Poster 3">
                        </div>
                        <div class="informationItem1">
                            <h4 class="title-produto">Nome do Livro</h4>
                            <span class="quantidade-produto"> 2 unidades</span>
                        </div>
                        <div class="informationItem2">
                            <h4 class="total-produto">Total</h4>
                            <span class="data-produto-value"> R$ 25,90</span>
                            <br>
                            <h4 class="total-produto">Data do Pedido</h4>
                            <span class="data-produto-value"> 25/02/2023</span>
                        </div>
                    </div>
                </div>
                <div class="pedidoLista">
                    <div class="statusPedido">
                        <span class="status">Status: Entregue</span>
                        <span class="n-pedido">N째 do Pedido: 12345</span>
                    </div>
                    <hr>
                    <div class="informationPedido">
                        <div class="product-identification">
                            <img class="cart-product-image" src="../images/1661966653.webp" alt="Poster 3">
                        </div>
                        <div class="informationItem1">
                            <h4 class="title-produto">Nome do Livro</h4>
                            <span class="quantidade-produto"> 2 unidades</span>
                        </div>
                        <div class="informationItem2">
                            <h4 class="total-produto">Total</h4>
                            <span class="data-produto-value"> R$ 25,90</span>
                            <br>
                            <h4 class="total-produto">Data do Pedido</h4>
                            <span class="data-produto-value"> 25/02/2023</span>
                        </div>
                    </div>
                </div>
                <div class="pedidoLista">
                    <div class="statusPedido">
                        <span class="status">Status: Entregue</span>
                        <span class="n-pedido">N째 do Pedido: 12345</span>
                    </div>
                    <hr>
                    <div class="informationPedido">
                        <div class="product-identification">
                            <img class="cart-product-image" src="../images/1661966653.webp" alt="Poster 3">
                        </div>
                        <div class="informationItem1">
                            <h4 class="title-produto">Nome do Livro</h4>
                            <span class="quantidade-produto"> 2 unidades</span>
                        </div>
                        <div class="informationItem2">
                            <h4 class="total-produto">Total</h4>
                            <span class="data-produto-value"> R$ 25,90</span>
                            <br>
                            <h4 class="total-produto">Data do Pedido</h4>
                            <span class="data-produto-value"> 25/02/2023</span>
                        </div>
                    </div>
                </div>
                <div class="pedidoLista">
                    <div class="statusPedido">
                        <span class="status">Status: Entregue</span>
                        <span class="n-pedido">N째 do Pedido: 12345</span>
                    </div>
                    <hr>
                    <div class="informationPedido">
                        <div class="product-identification">
                            <img class="cart-product-image" src="../images/1661966653.webp" alt="Poster 3">
                        </div>
                        <div class="informationItem1">
                            <h4 class="title-produto">Nome do Livro</h4>
                            <span class="quantidade-produto"> 2 unidades</span>
                        </div>
                        <div class="informationItem2">
                            <h4 class="total-produto">Total</h4>
                            <span class="data-produto-value"> R$ 25,90</span>
                            <br>
                            <h4 class="total-produto">Data do Pedido</h4>
                            <span class="data-produto-value"> 25/02/2023</span>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>
