<%- include('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/compraEfetuada.css">

    <main>
        <section class="compra-efetuada">
            <div>
                <div class="checkbox">
                    <i class='bx bxs-check-circle'></i>
                </div>
                <div class=" information-pedido">
                    <h2>Compra realizada com sucesso</h2>
                    <div>
                    <span>Seu pedido é de número XX</span>
                    <span>Para mais informações acesse sua conta</span>
                </div>
                </div>
            </div>
        </section>
    </main>

    <%- include('partials/footer') %>