<%- include('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/conta.css">

    <main>
        <section class="box-MinhaConta">
            <div class="minhaConta">
                <img src="/images/Lordvoldemort.jpg">

                <h3> Nome e Sobrenome</h3>

                <div class="contaOpcoes">
                    <a href="/users/conta">MEUS DADOS</a>
                    <a href="/users/compras">MEUS PEDIDOS</a>
                </div>
            </div>
        </section>

        <section class="account">
            <div class="caixatexto">
                <h3>MEUS DADOS</h3>
            </div>
            <form class="account-data">
                <div class="col-user">
                    <div>
                        <label class="label-account">E-mail</label>
                        <input class="values-account" value="igorcamposratao@gmail.com"></input>
                    </div>
                </div>
                <div class="col-user">
                    <div>
                        <label class="label-account">Nome</label>
                        <input class="values-account" value="Igor"></input>
                    </div>
                    <div>
                        <label class="label-account">Sobrenome</label>
                        <input class="values-account" value="Campos"></input>
                    </div>
                </div>
                <div class="account-data-pessoal">
                    <div class="col-pessoal">
                        <div>
                            <label class="label-account">CPF</label>
                            <input class="values-account" value="409.788.896-5"></input>
                        </div>
                        <div>
                            <label class="label-account">Gênero</label><br>
                            <input class="values-account" value="Masculino"></input>
                        </div>
                    </div>
                    <div class="col-pessoal">
                        <div>
                            <label class="label-account">Data de Nascimento</label>
                            <input class="values-account" value="22/08/1991"></input>
                        </div>
                    </div>
                </div>
                <div class="account-data-endereco">
                    <div class="col-endereco">
                        <div>
                            <label class="label-account">CEP</label>
                            <input class="values-account" value="04310-010"></input>
                        </div>
                        <div>
                            <label class="label-account">Estado</label>
                            <input class="values-account" value="São Paulo"></input>
                        </div>
                        <div>
                            <label class="label-account">Cidade</label>
                            <input class="values-account" value="São Paulo"></input>
                        </div>
                    </div>
                    <div class="col-endereco">
                        <div>
                            <label class="label-account">Rua/Avenida</label>
                            <input class="values-account" value="Rua das Borboletas Psicodélicas"></input>
                        </div>
                    </div>
                    <div class="col-endereco">
                        <div>
                            <label class="label-account">Número</label>
                            <input class="values-account" value="116"></input>
                        </div>
                        <div>
                            <label class="label-account">Complemento</label>
                            <input class="values-account"></input>
                        </div>
                    </div>
                </div>
                <div class="edit-form">
                    <button class="editar" type="submit"><a href="/users/editar-conta" >Editar</a></button>
                </div>
            </form>
        </section>
    </main>

    <%- include('partials/footer') %>