<%- include('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/conta.css">

    <main>
        <section class="box-MinhaConta">
            <div class="minhaConta">
                <img src="/images/Lordvoldemort.jpg">

                <h3> Nome e Sobrenome</h3>

                <div class="contaOpcoes">
                    <a href="/users/conta">MEUS DADOS</a>
                    <a href="/users/compras">MEUS PEDIDOS</a>
                </div>
            </div>
        </section>

        <section class="account">
            <div class="caixatexto">
                <h3>EDITAR DADOS</h3>
            </div>

            <% if(typeof errors !== 'undefined'){  %>
                <font size ="-1">
                <ul style="list-style-type: none;">
                  <% for(let error in errors){ %>
                    <li><center>
                      <b style='color:darkred'><%= error%>: </b>
                      <%= errors[error].msg%></center></li>
                    <% } %>
                </ul>
                   <% } %>
                </font>


            <form class="account-data">
                <div class="col-user">
                    <div>
                        <label for="" class="label-account">E-mail</label><br>
                        <input type="text" name="E-mail" class="values-account-editar"
                            value=""></input>
                    </div>
                </div>
                <div class="col-user">
                    <div>
                        <label for="nome" class="label-account">Nome</label><br>
                        <input type="text" name="Nome" class="values-account-editar" value=""></input>
                    </div>
                    <div>
                        <label for="sobrenome" class="label-account">Sobrenome</label><br>
                        <input type="text" name="Sobrenome" class="values-account-editar" value=""></input>
                    </div>
                </div>
                <div class="col-user">
                    <div>
                        <label for="foto" class="label-account">Foto de perfil</label><br>
                        <input type="file" name="foto" class="foto-perfil"></input>
                    </div>
                </div>
                <div class="account-data-pessoal">
                    <div class="col-pessoal">
                        <div>
                            <label for="doc_identificacao" class="label-account">CPF</label><br>
                            <input type="text" name="CPF" class="values-account-editar"
                                value=""></input>
                        </div>
                        <div>
                            <label for="genero" class="label-account">Gênero</label><br>
                            <input type="text" name="Genero" class="values-account-editar" value=""></input>
                        </div>
                    </div>
                    <div class="col-pessoal">
                        <div>
                            <label for="data_nascimento" class="label-account">Data de Nascimento</label><br>
                            <input type="date" name="Data de nascimento" class="values-account-editar data-nascimento"
                                value=""></input>
                        </div>
                    </div>
                </div>
                <div class="account-data-endereco">
                    <div class="col-endereco">
                        <div>
                            <label for="cep" class="label-account">CEP</label><br>
                            <input type="text" name="CEP" class="values-account-editar cep" value=""></input>
                        </div>
                    </div>
                    <div class="col-endereco">
                        <div>
                            <label for="estado" class="label-account">Estado</label><br>
                            <input type="text" name="Estado" class="values-account-editar" value=""></input>
                        </div>
                        <div>
                            <label for="cidade" class="label-account">Cidade</label>
                            <input type="text" name="Cidade" class="values-account-editar" value=""></input>
                        </div>
                    </div>
                    <div class="col-endereco">
                        <div>
                            <label for="endereco" class="label-account">Rua/Avenida</label><br>
                            <input type="text" name="Endereço" class="values-account-editar"
                                value=""></input>
                        </div>
                    </div>
                    <div class="col-endereco">
                        <div>
                            <label for="number" class="label-account">Número</label><br>
                            <input type="text" name="Número" class="values-account-editar" value=""></input>
                        </div>
                        <div>
                            <label for="complemento" class="label-account">Complemento</label><br>
                            <input type="text" name="Complemento" class="values-account-editar"></input>
                        </div>
                    </div>
                </div>
                <div class="edit-form">
                    <button class="editar" type="submit"><a>Salvar</a></button>
                </div>
            </form>
        </section>
    </main>

    <%- include('partials/footer') %>