<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/Login.css">
<main>
    <script src="/javascripts/validacoeslogin.js" defer></script>
    <section class="pageLogin">
        <h5 class="login2">Redefinir Senha</h5>
      <form class="form-auth card" method="POST" action="/users/forgot-password">
        <li class="email">E-mail</li>
        <input type="email" name="emailForgotPassword" placeholder="Digite seu email">
        <br>

        <button class="entrar" type="submit">Resetar senha</button>
      </form>
      <br>
   
      <a href="/users/login" class="cadastro">Voltar para o login</a>
</main>
<%- include('partials/footer') %>
    