<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/Login.css">
<main>
    <script src="/javascripts/validacoeslogin.js" defer></script>
    <section class="pageLogin">
        <h5 class="login2">LOGIN</h5>
        <% if(typeof errors !== 'undefined'){  %>
            <font size ="-1">
            <ul style="list-style-type: none;">
              <% for(let error in errors){ %>
                <li><center>
                  <b style='color:darkred'><%= error%>: </b>
                  <%= errors[error].msg%></center></li>
                <% } %>
            </ul>
               <% } %>
            </font>
        <form class="form-auth card"action="/users/entrar"method="post">
            <li class="email">E-mail</li>
            <input type="email" name="E-mail" placeholder="Digite seu email">
            <li class="password">Senha</li>
            <input id="password" type="password" name="Senha" placeholder="Digite sua senha">
            <button class="entrar" type="submit">ENTRAR</button>
            <a href="/users/forgot-password" class="esqueci">Esqueci minha senha</a>
          
            <a href="/users/cadastro" class="cadastro">Não tenho cadastro</a>
            <a href="/users/login" class="cadastro">Intranet</a>
        </form>
        <div class="redes">
            <h5 class="login3">Login com redes sociais</h5>
            <a href=""><img id="google" src="/images/google.png" alt="">continue com google</a>
            <a href=""><img id="facebook" src="/images/facebook.png" alt="">continue com facebook</a>
    </section>
</main>
<%- include('partials/footer') %>