<%- include('partials/header') %>
<link rel="stylesheet" href="/stylesheets/MinhaConta.css">

    <main>
        <section class="box-MinhaConta">
            <div class="fotoMinhaConta">
                <img src="/images/Lordvoldemort.jpg">
                <div class="sobrenome">
                    <li>NOME SOBRENOME</li>
                </div>
                <div class="botoes">
                    <button class="meusdados">MINHA CONTA</button>
                    <button class="minhaconta">MEUS PEDIDOS</button>
                </div>
            </div>
        </section>
        <section class="todososcontainers">
            <div class="caixatexto">
                <h1>MEUS PEDIDOS</h1>
            </div>
            <div class="todosospedidos">
                <nav class="listapagos">
                    <ul type="none">
                        <li> <a href="#">TODOS OS PEDIDOS</a> </li>
                        <li> <a href="#">CANCELADOS</a> </li>
                        <li> <a href="#">PAGOS</a> </li>
                        <li> <a href="#">ENVIADOS</a> </li>
                    </ul>
                </nav>
            </div>
            <section class="containermenu">
                <nav class="listamenu">
                    <section class="numerodopedido">
                    </section>

                    <ul type="none">
                        <li> <a href="#">Número do Pedido</a> </li>
                        <li> <a href="#">Data</a> </li>
                        <li> <a href="#">Pagamento</a> </li>
                        <li> <a href="#">Status</a> </li>
                    </ul>
                    <section class="informacaodospedidos">
                        <ul type="none">
                            <li> <a href="#">9999999</a> </li>
                            <li> <a href="#">00/00/00</a> </li>
                            <li> <a href="#">BOLETO</a> </li>
                            <li> <a href="#">ENVIADO</a> </li>
                        </ul>

                    </section>
                    <section class="informacaodospedidos">

                        <ul type="none">
                            <li> <a href="#">9999999</a> </li>
                            <li> <a href="#">00/00/00</a> </li>
                            <li> <a href="#">BOLETO</a> </li>
                            <li> <a href="#">ENVIADO</a> </li>
                        </ul>

                    </section>
                    <section class="informacaodospedidos">
                        <ul type="none">
                            <li> <a href="#">9999999</a> </li>
                            <li> <a href="#">00/00/00</a> </li>
                            <li> <a href="#">BOLETO</a> </li>
                            <li> <a href="#">ENVIADO</a> </li>
                        </ul>
                    </section>
                    <section class="informacaodospedidos">
                        <ul type="none">
                            <li> <a href="#">9999999</a> </li>
                            <li> <a href="#">00/00/00</a> </li>
                            <li> <a href="#">BOLETO</a> </li>
                            <li> <a href="#">ENVIADO</a> </li>
                        </ul>
                    </section>
                    <section class="informacaodospedidos">
                        <ul type="none">
                            <li> <a href="#">9999999</a> </li>
                            <li> <a href="#">00/00/00</a> </li>
                            <li> <a href="#">BOLETO</a> </li>
                            <li> <a href="#">ENVIADO</a> </li>
                        </ul>
                    </section>
            </section>
        </section>
        </nav>
        </form>
    </main>

    <%- include('partials/footer') %>
