<%- include('partials/header') %>
    <link rel="stylesheet" href="/stylesheets/sobreNos.css">

    <main>
        <section class="banner">
            <div class="container-title">
                <span>"Sempre imaginei que o paraíso será uma espécie de biblioteca." - Gabriel Garcia Marquez.</span>
                <img src="/images/sobre-nos.jpg" alt="sobre-nos">
            </div>

            <div class="container-sobre-nos">
                <h3>SOBRE NÓS</h3>
                <hr>
                <div>
                    <p>
                        Bem-vindo(a) à Avalon, uma livraria online que tem como objetivo inspirar e enriquecer a vida de
                        nossos clientes por meio de livros de qualidade e serviços excepcionais.
                    </p>
                    <br>
                               
                    <p>
                        Em nossa loja online, você encontrará uma grande variedade de livros e histórias em quadrinhos,
                        desde os best-sellers mais
                        recentes até os clássicos atemporais, de autores renomados e emergentes. Estamos comprometidos
                        em
                        oferecer a nossos clientes uma seleção abrangente e diversificada de livros para todos os gostos
                        e
                        interesses, incluindo ficção, não-ficção, literatura infantil, acadêmica e muito mais.
                    </p>
                    <br>
                    <p>
                        Além disso, entendemos que uma excelente experiência de compra é fundamental para nossos
                        clientes. É
                        por isso que nossa equipe está sempre pronta para ajudar e responder a quaisquer perguntas ou
                        preocupações que você possa ter. Desde a navegação do site até o processo de checkout, estamos
                        aqui
                        para ajudar a tornar a sua experiência de compra o mais fácil e agradável possível.
                    </p>
                    <br>
                    <p>
                        Agradecemos por escolher a Avalon como sua livraria online, e esperamos ajudá-lo(a) a encontrar
                        o
                        próximo livro perfeito para sua coleção pessoal. Seja bem-vindo(a) e feliz leitura!
                    </p>
                </div>
            </div>

            <div class="container-nossa-missao">
                <h3>NOSSA MISSÃO</h3>
                <hr>

                <div class="container-content">

                    <img class="mission image" src="/images/nossa-missao.jpg" alt="sobre-nos">

                    <div>
                        <p>
                            Na Avalon, nossa missão é disseminar a leitura de livros e HQs para todos os públicos,
                            oferecendo uma ampla variedade de títulos em nossa loja online e um serviço de alta
                            qualidade desde a seleção até a entrega rápida e segura.
                        </p>
                    </div>
                </div>
            </div>
        </section>

    </main>

    <%- include('partials/footer') %>